{% extends base_template %}
{% block title %} Membership Form {% endblock %}
{% load socialaccount %}
{% block content %}
    {% get_social_accounts user as accounts %}
    {% if not accounts.twitter %}
        <a href="{% provider_login_url "twitter" process="connect" %}">Connect a Twitter account</a>
    {% endif %}
    {% if not accounts.facebook %}
        <a href="{% provider_login_url "facebook" process="connect" %}">Connect a Facebook account</a>
    {% endif %}
    {% if not accounts.google %}
        <a href="{% provider_login_url "google" process="connect" %}">Connect a Google account</a>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="section">
            <h3>Personal Details</h3>

            <div>
                <label>Full Name</label>
                <span>{{ form.full_name }}</span>
                {{ form.full_name.errors }}
            </div>

            <div>
                <label>Date of Birth</label>
                {{ form.date_of_birth }}
                {{ form.date_of_birth.errors }}
            </div>

            <div>
                <label>Gender</label>
                {{ form.gender }}
                {{ form.gender.errors }}
            </div>

        </div>


        <div class="section">
            <h3>Address</h3>

            <div>
                <label>Temporary</label>
                {{ form.temporary_address }}
                {{ form.temporary_address.errors }}
            </div>
            <div>
                <label>Permanent</label>
                {{ form.permanent_address }}
                {{ form.permanent_address.errors }}
            </div>
        </div>

        <div class="section">
            <h3>Contact</h3>

            <div>
                <label>Cell</label>
                {{ form.mobile }}
                {{ form.mobile.errors }}
            </div>
            <div>
                <label>Tel</label>
                {{ form.telephone }}
                {{ form.telephone.errors }}
            </div>
        </div>

        <div class="section">
            <div>
                <label>Identification Type:</label>
                {{ form.identification_type }}
                {{ form.identification_type.errors }}
            </div>

            <div>
                <label>Identification File:</label>
                {{ form.identification_file }}
                {{ form.identification_type.errors }}
            </div>
        </div>

        <div class="section">
            <div>
                <label>Shirt Size</label>
                {{ form.shirt_size }}
                {{ form.shirt_size.errors }}
            </div>

            <div>
                <label>Present Status</label>
                {{ form.present_status }}
                {{ form.present_status.errors }}
            </div>
        </div>


        <input type="submit" class="small secondary button" value="Submit">
    </form>
{% endblock %}