{% extends base_template %}
{% block title %} Membership Payment {% endblock %}
{% block content %}

    <p>
        Thank you, your payment information has been received!
    </p>


    <p>If you want to submit the fee by cash directly or by other means feasible to you, you can contact us
        at:<br/>
        Phone: +977-98xxxxxxx OR <br/>
        <a href="mailto:membership@manutd.org.np">membership@manutd.org.np</a> <br/>
        <a target="_blank" href="https://www.facebook.com/muscnepal">Facebook</a> <br/>
        <a target="_blank" href="https://twitter.com/MUSCNP">Twitter</a> <br/>
    </p>



{% endblock %}