{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="my-2">{% trans "Sign Up" %}</h1>

        <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
            <strong>{{ provider_name }}</strong> account to login to <strong>{{ site_name }}</strong>.
            As a final step, please complete the following form:{% endblocktrans %}</p>

        <form class="form" method="post" action="{% url 'socialaccount_signup' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">E-mail:</label>
                <input class="form-control" type="email" name="email" placeholder="E-mail address" required id="id_email"
                       autofocus>
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="btn btn-primary btn-lg" type="submit">{% trans "Sign Up" %}</button>
        </form>

    </div>
{% endblock %}
