{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block title %}{% trans "Sign In" %}{% endblock %}
{% block extrahead %}
    <link href="{{ STATIC_URL }}css/auth.css" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
    <div class="container-fluid text-center" id="wrapper-login">
        <div class='row'>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h1>{% trans "Sign In" %}</h1>
            </div>
        </div>
        <hr/>
        {% include "account/social_login.html" %}

        <form class="login follows-or" method="POST" action="{% url 'account_login' %}" role="form">
            {% csrf_token %}

            {% if form.errors %}
                <p id="error-message">The login and/or password you specified are not correct.</p>
            {% endif %}
            <!-- {{ form.login }} -->
            <input autofocus="autofocus" class="form-control" id="id_login" name="login"
                   placeholder="Username or e-mail" type="text">
            <br/>

            <!-- {{ form.password }} -->
            <input id="id_password" class="form-control" name="password" placeholder="Password" type="password">

            <div>
                <div class="checkbox">
                    <label id="label-rememberme" class="pull-left">
                        {{ form.remember }} {{ form.remember.label }}
                    </label>
                    <br/>
                </div>
            </div>
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="primaryAction btn btn-primary btn-lg btn-block" type="submit">{% trans "Sign In" %}</button>
            <a id="id-forgot-password" class="pull-left"
               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <a id="id-sign-up" href="{{ signup_url }}" class="pull-right">{% trans 'Sign Up' %}</a>
        </form>

    </div>
{% endblock %}
