{% extends "account/base.html" %}

{% load socialaccount %}
{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block extrahead %}
    <link href="{{ STATIC_URL }}css/login-social-media.css" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}
<div class="container-fluid text-center" id="wrapper-login">
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <h1>{% trans "Sign In" %}</h1>
  </div>
</div>
    <hr/>
{% if socialaccount.providers  %}
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <span class="connect-with">Connect with</span>
  </div>
</div>

<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="social-button">
      <div class="row">
        {% for provider in socialaccount.providers %}
        {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
          <a title="{{brand.name}}" 
             class="socialaccount_provider {{provider.id}} {{brand.id}}" 
             href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
             >{{brand.name}}</a>
        
        {% endfor %}
        {% endif %}
        <div class ="col-xs-4 col-sm-4 col-md-4">
          <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}} {{provider.id}}Btn smGlobalBtn" 
             href="{% provider_login_url provider.id process=process %}"></a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>  

<div class="login-or">{% trans 'or' %}</div>
{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}" role="form">
  {% csrf_token %}

  <div class='row'>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <p id="login-label"><strong>{{ form.login.label }}</strong></p>
    </div>
  </div>
      {% if form.errors %}
        <p id="error-message">The login and/or password you specified are not correct.</p>
      {% endif %}
  <!-- {{ form.login }} -->
  <input autofocus="autofocus" class="form-control" id="id_login" name="login" placeholder="Username or e-mail" type="text">
  <br/>

  <!-- {{ form.password }} -->
  <input id="id_password" class="form-control" name="password" placeholder="Password" type="password">
  <div>
      <div class="checkbox">
        <label id="label-rememberme">
          {{ form.remember }} {{ form.remember.label }}
        </label>
        <br/>
      </div>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn btn-primary btn-lg btn-block" type="submit">{% trans "Sign In" %}</button>
  <a id="id-forgot-password" class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <a id="id-sign-up" href="{{ signup_url }}">{% trans 'Sign Up' %}</a>
</form>

</div>  
{% endblock %}
