{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/auth.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="container text-center limit-width" id="wrapper-login">
        <div class='row'>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h1>{% trans "Sign In" %}</h1>
            </div>
        </div>
        <hr/>
        {% include "account/social_login.html" %}
        <br/>
        {% include "account/login_form.html" %}
    </div>
{% endblock %}
