{% extends 'base.html' %}

{% load socialaccount %}
{% load account %}
{% load i18n %}

{% block extrahead %}
    <link href="{{ STATIC_URL }}css/auth.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block whole_title %}
    Manchester United Supporters' Club, Nepal
{% endblock %}

{% block content %}

    <div class="container-fluid" id="wrapper-login-register">

        <br>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">

                {% include "account/social_login.html" %}

                <br>

                <h2>Sign In</h2>

                {% include "account/login_form.html" with form=login_form %}

            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <h2>New Member?</h2>
                {% include "account/signup_form.html" with form=signup_form %}
            </div>

        </div>


    </div>

{% endblock %}