{% load i18n %}
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}

    <p>
        <label for="id_full_name">Full Name</label>
        <input autofocus="autofocus" class="form-control" id="id_full_name" maxlength="30" name="full_name" type="text">
    </p>

    <p>
        <label for="id_email">{{ form.username.label }}</label>
        <input class="form-control" id="id_username" maxlength="30" name="username" type="text">
    </p>

    <p>
        <label for="id_email">{{ form.email.label }}</label>
        <input id="id_email" class="form-control" name="email" type="email">
    </p>

    <p>
        <label for="id_email">{{ form.password1.label }}</label>
        <input id="id_password1" class="form-control" name="password1" type="password">
    </p>

    <p>
        <label for="id_email">{{ form.password2.label }}</label>
        <input id="id_password2" class="form-control" name="password2" type="password">
        <input id="id_confirmation_key" maxlength="40" name="confirmation_key" type="hidden">
    </p>

    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="btn btn-primary btn-lg btn-block" type="submit">{% trans "Sign Up" %}</button>
</form>