{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}
{% block extrahead %}
    <link href="{{ STATIC_URL }}css/auth.css" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}

<div>

<p>{% blocktrans %}Already have an account? Then, please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<br/>
{% include "account/social_login.html" %}
<hr/>

<h1>{% trans "Or Sign Up" %}</h1>

{% include "account/signup_form.html" %}

</div>

{% endblock %}