{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    <h5>Connect with</h5>

    {% for provider in socialaccount_providers %}
            <a title="{{ provider.name }}"
               class="socialaccount_provider {{ provider.id }} {{ provider.id }} btn btn-primary"
               href="{% provider_login_url provider.id process=process %}">{{ provider.name }}</a>
    {% endfor %}
            
{#    {% include "socialaccount/snippets/login_extra.html" %}#}
{% endif %}