<div class="form-group">
    {{ form.bank.label_tag }}
    {{ form.bank }}
    {{ form.bank.errors }}
</div>

<div class="form-group">
    {{ form.user.label_tag }}
    {{ form.user }}
    {{ form.user.errors }}
</div>

<div class="form-group date-time">
    {{ form.date_time.label_tag }}
    {{ form.date_time }}
    {{ form.date_time.errors }}
</div>

<div class="form-group">
    {{ form.amount.label_tag }}
    {{ form.amount }}
    {{ form.amount.errors }}
</div>

<div class="form-group">
    {{ form.remarks.label_tag }}
    {{ form.remarks }}
    {{ form.remarks.errors }}
</div>

<div class="form-group">
    {{ form.voucher_image.label_tag }}
    {{ form.voucher_image }}
    {{ form.voucher_image.errors }}
</div>