{% extends 'dashboard_base.html' %}
{% load filters %}

{% block title %} {{ scenario }} Bank Deposit {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a class="breadcrumb-item" href="{% url 'list_bank_deposits' %}"><i class="fa fa-bank mr-1"></i>Bank Deposits</a>
    <a class="breadcrumb-item"><span>{{ scenario }} {{ object }}</span></a>
{% endblock %}

{% block extrahead %}
    {% include 'partials/selectize.html' %}
    {% include 'partials/datetimepicker.html' %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <form method="POST" enctype="multipart/form-data" role="form">

                {% csrf_token %}

                {% include 'payment/_bankdeposit_form.html' with form=form %}

                <input type="submit" class="btn btn-info" value="Save">

            </form>

            <div class="pull-right actions">
                {% if object.payment %}
                    <a href="{% url 'move_bank_to_direct_payment' object.id %}" class="btn btn-info">Move as Direct Payment</a>
                    <a href="{% url 'update_payment' object.payment.id %}" class="btn btn-info">View/Update Payment</a>
                {% endif %}
                {% if object.payment.verified %}
                    <form method="POST" action="{% url 'update_payment' object.payment.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="Disprove"/>
                        <input type="submit" value="Disprove" class="btn btn-danger">
                    </form>
                {% elif object.payment.pk %}
                    <form method="POST" action="{% url 'update_payment' object.payment.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="Approve"/>
                        <input type="submit" value="Approve" class="btn btn-success warning">
                    </form>
                {% endif %}
                {% include 'partials/delete_button.html' with object=object url='delete_bank_deposit' %}
            </div>
        </div>

    <div class="col-sm-12 col-lg-6">
            {% if object.verified %}
                <p> This payment was verified by {{ object.payment.verified_by.full_name }}.</p>
            {% else %}
                <p>This payment hasn't been verified.</p>
            {% endif %}



                    <div class="bank-deposit">
                        <h3><i class="fa fa-bank"></i> Bank Deposit</h3>
                        <a href="{{ object.voucher_image.url }}" alt="Click to view full image" target="_blank">
                            <img class="img-responsive" src="{{ object.voucher_image.url }}">
                        </a>
                    </div>



        </div>

    </div>

{% endblock %}