{% extends 'dashboard_base.html' %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}

{% block title %} Bank Accounts {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a class="breadcrumb-item" href="{% url 'list_bank_accounts' %}"><i class="fa fa-bank"></i>Bank Accounts</a>
{% endblock %}

{% block content %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <th>{% anchor bank_name 'Bank Name' %}</th>
            <th>{% anchor ac_no 'Account No.' %}</th>
            <th>{% anchor branch_name 'Branch Name' %}</th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr>
                    <td>
                        <a href="{% url 'update_bank_account' item.id %}">
                            {{ item.bank_name }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'update_bank_account' item.id %}">
                            {{ item.ac_no }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'update_bank_account' item.id %}">
                            {{ item.branch_name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

    <div class="pull-right">
        <a class="btn btn-success" href="{% url 'create_bank_account' %}">Add New Bank Account</a>
    </div>

{% endblock %}