{% extends 'dashboard_base.html' %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}

{% block title %} Bank Accounts {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_bank_deposits' %}"><i class="fa fa-bank"></i>Bank Deposits</a>
{% endblock %}

{% block content %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <th>{% anchor payment__date_time 'Date, Time' %}</th>
            <th>{% anchor bank 'Bank' %}</th>
            <th>{% anchor payment__user 'By' %}</th>
            <th>{% anchor payment__amount 'Amount' %}</th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr>
                    <td>
                        <a href="{% url 'update_bank_deposit' item.id %}">
                            {{ item.payment.date_time }}
                        </a>
                    </td>
                    <td>
                        {{ item.bank }}
                    </td>
                    <td>
                        {{ item.payment.user.full_name }}
                    </td>
                    <td>
                        {{ item.payment.amount }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

    <div class="pull-right">
        <a class="btn btn-success" href="{% url 'create_bank_deposit' %}">New Bank Deposit</a>
    </div>

{% endblock %}