{% extends 'dashboard_base.html' %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}

{% block title %} Direct Payments {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a class="breadcrumb-item" href="{% url 'list_bank_deposits' %}"><i class="fa fa-money mr-1"></i>Direct Payments</a>
{% endblock %}

{% block content %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <th>{% anchor receipt_no 'Receipt No' %}</th>
            <th>{% anchor payment__date_time 'Date, Time' %}</th>
            <th>{% anchor received_by 'Received By' %}</th>
            <th>{% anchor payment__user 'Paid By' %}</th>
            <th>{% anchor payment__amount 'Amount' %}</th>
            <th>Payment</th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr class="{% if item.verified %}success{% else %}warning{% endif %}">
                    <td>
                        <a href="{% url 'update_direct_payment' item.id %}">
                            {{ item.receipt_no }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'update_direct_payment' item.id %}">
                            {{ item.payment.date_time }}
                        </a>
                    </td>
                    <td>
                        {% if item.received_by %}
                            <a href="{% url 'update_user' item.received_by.id %}">
                                {{ item.received_by.full_name }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.payment.user %}
                            <a href="{% url 'update_user' item.payment.user.id %}">
                                {{ item.payment.user.full_name }}
                            </a>
                        {% endif %}

                    </td>
                    <td>
                        {{ item.payment.amount }}
                    </td>
                    <td>
                        {% if item.payment %}
                            <a href="{% url 'update_payment' item.payment.id %}">View/Update</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

    <div class="pull-right">
        <a class="btn btn-success" href="{% url 'create_direct_payment' %}">New Direct Payment</a>
    </div>

{% endblock %}