{% extends 'dashboard_base.html' %}
{% load filters %}

{% block title %} {{ scenario }} Direct Payment {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_direct_payments' %}"><i class="fa fa-money"></i>Direct Payments</a>
    <span>{{ scenario }} {{ object }}</span>
{% endblock %}

{% block extrahead %}
    {% include 'partials/selectize.html' %}
    {% include 'partials/datetimepicker.html' %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <form method="POST" enctype="multipart/form-data" role="form">

                {{ form.errors }}

                {% csrf_token %}


                {% include 'payment/_directpayment_form.html' with form=form %}


                <input type="submit" class="btn btn-info" value="Save">

            </form>
            <div class="pull-right actions">
                {% if object.payment %}
                    <a href="{% url 'update_payment' object.payment.id %}" class="btn btn-info">View/Update Payment</a>
                {% endif %}
                {% if object.payment.verified %}
                    <form method="POST" action="{% url 'update_payment' object.payment.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="Disprove"/>
                        <input type="submit" value="Disprove" class="btn btn-danger">
                    </form>
                {% elif object.payment.pk %}
                    <form method="POST" action="{% url 'update_payment' object.payment.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="Approve"/>
                        <input type="submit" value="Approve" class="btn btn-success warning" {% if object.receipt_no == 0 %}disabled{% endif %}>
                    </form>
                {% endif %}
                {% include 'partials/delete_button.html' with object=object url='delete_direct_payment' %}
                {% if object.receipt_no == 0 %}
                    <p>Click on Save to enable Approve</p>
                {% endif  %}
            </div>
        </div>

        <div class="col-sm-12 col-lg-6">
            {% if object.payment.verified %}
                <p> This payment was verified by {{ object.payment.verified_by.full_name }}.</p>
            {% else %}
                <p>This payment hasn't been verified.</p>
            {% endif %}
            <div id="method-details">

                {% if object.receipt_image %}
                    <img class="img-responsive" src="{{ object.receipt_image.url }}">
                {% endif %}

            </div>
        </div>


    </div>

{% endblock %}