{% extends 'dashboard_base.html' %}
{% load filters %}

{% block title %} {{ scenario }} Direct Payment {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_direct_payments' %}"><i class="fa fa-money"></i>Direct Payment</a>
    <span>{{ scenario }} {{ object }}</span>
{% endblock %}

{% block extrahead %}
    {% include 'partials/selectize.html' %}
    {% include 'partials/datetimepicker.html' %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <form method="POST" enctype="multipart/form-data" role="form">

                {% csrf_token %}

                <div class="form-group">
                    {{ form.received_by.label_tag }}
                    {{ form.received_by }}
                    {{ form.received_by.errors }}
                </div>

                <div class="form-group">
                    {{ form.user.label_tag }}
                    {{ form.user }}
                    {{ form.user.errors }}
                </div>

                <div class="form-group date-time">
                    {{ form.date_time.label_tag }}
                    {{ form.date_time }}
                    {{ form.date_time.errors }}
                </div>

                <div class="form-group">
                    {{ form.amount.label_tag }}
                    {{ form.amount }}
                    {{ form.amount.errors }}
                </div>

                <div class="form-group">
                    {{ form.remarks.label_tag }}
                    {{ form.remarks }}
                    {{ form.remarks.errors }}
                </div>

                <input type="submit" class="btn btn-info" value="Save">

            </form>

            <div class="pull-right actions">
                {% if object.payment %}
                    <a href="{% url 'update_payment' object.payment.id %}" class="btn btn-info">View/Update Payment</a>
                {% endif %}
                {% if object.payment.verified %}
                    <form method="POST" action="{% url 'update_payment' object.payment.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="Disprove"/>
                        <input type="submit" value="Disprove" class="btn btn-danger">
                    </form>
                {% elif object.payment.pk %}
                    <form method="POST" action="{% url 'update_payment' object.payment.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="Approve"/>
                        <input type="submit" value="Approve" class="btn btn-success warning">
                    </form>
                {% endif %}
                {% include 'partials/delete_button.html' with object=object url='delete_direct_payment' %}
            </div>
        </div>


    </div>

{% endblock %}