{% extends 'dashboard_base.html' %}
{% load filters %}

{% block title %} {{ scenario }} Payment {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_payments' %}"><i class="fa fa-money"></i>Payment</a>
    <span>{{ scenario }} {{ object }}</span>
{% endblock %}

{% block extrahead %}
    {% include 'partials/selectize.html' %}
    {% include 'partials/datetimepicker.html' %}
{% endblock %}

{% block content %}

    <div class="row">

        <form class="col-sm-12 col-lg-6" method="POST">

            {% csrf_token %}

            <div class="form-group">
                {{ form.user.label_tag }}
                {{ form.user }}
                {{ form.user.errors }}
            </div>

            <div class="form-group date-time">
                {{ form.date_time.label_tag }}
                {{ form.date_time }}
                {{ form.date_time.errors }}
            </div>

            <div class="form-group">
                {{ form.amount.label_tag }}
                {{ form.amount }}
                {{ form.amount.errors }}
            </div>

            <div class="form-group">
                {{ form.remarks.label_tag }}
                {{ form.remarks }}
                {{ form.remarks.errors }}
            </div>

            <input type="submit" class="btn btn-info" value="Save">

            <div class="pull-right">
                {% if object.verified %}
                    {% include 'partials/action_form.html' with action='Disprove' class='danger' %}
                {% else %}
                    {% include 'partials/action_form.html' with action='Approve' class='success' %}
                {% endif %}
            </div>

        </form>

        <div class="col-sm-12 col-lg-6">
            {% if object.verified %}
                <p> The payment was verified by {{ object.verified_by.full_name }}.</p>
            {% else %}
                <p>This payment hasn't been verified.</p>
            {% endif %}
            <div id="method-details">

                {% if object.method|get_class_name == 'BankDeposit' %}
                    <div class="bank-deposit">
                        <h3><i class="fa fa-bank"></i> Bank Deposit</h3>
                        <a href="{{ object.method.voucher_image.url }}" alt="Click to view full image" target="_blank">
                            <img class="img-responsive" src="{{ object.method.voucher_image.url }}">
                        </a>
                    </div>
                {% elif object.method|get_class_name == 'DirectPayment' %}
                    <h3>Directly paid to {{ object.method.received_by.full_name }}.</h3>
                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}