{% extends 'dashboard_base.html' %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}

{% block title %} Payments {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_payments' %}"><i class="fa fa-money"></i>Payment</a>
{% endblock %}

{% block content %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 2 as paginated_objects %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <th>{% anchor date_time 'Date, Time' %}</th>
            <th>{% anchor user 'By' %}</th>
            <th>{% anchor amount 'Amount' %}</th>
            <th>{% anchor list_payment_for 'For' %}</th>
            <th>{% anchor verified_by 'Verified By' %}</th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr class="{% if item.verified %}success{% else %}warning{% endif %}">
                    <td>
                        <a href="{% url 'update_payment' item.id %}">
                            {{ item.date_time }}
                        </a>
                    </td>
                    <td>
                        {{ item.user.full_name }}
                    </td>
                    <td>
                        {{ item.amount }}
                    </td>
                    <td>
                        {% for event in item.payment_for.all %}
                            {{ event|get_class_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ item.verified_by.full_name }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

    <div class="pull-right">
    <a class="btn btn-success" href="{% url 'create_payment' %}">Add New Payment</a>
    </div>

{% endblock %}