{{ form.non_field_errors }}

<div class="restrict-width">
    <div class="form-group">
        {{ form.full_name.label_tag }}
        {{ form.full_name }}
        {{ form.full_name.errors }}
    </div>

    <div class="form-group">
        <label>Mobile:</label>
        {{ form.mobile }}
        {{ form.mobile.errors }}
    </div>

    <div class="form-group">
        <label>Membership Package Pickup Location:</label>
        {{ form.pickup_location }}
        {{ form.pickup_location.errors }}
    </div>

</div>