{% extends 'base.html' %}
{% load filters %}

{% block title %} {{ object.user.full_name }}{% endblock %}

{% block content %}
        <h1>
            {% if object.user.devil_no %}
                #{{ object.user.devil_no }} -
            {% endif %}
            {{ object.user.full_name }}
            {% if object.user.is_member %}
                <i class="fa fa-check verified"></i>
            {% endif %}

            </span>
        </h1>

        <div class="row">

            <div class="col-md-6">

                {% with profile_picture=object.user.profile_picture %}
                    {% if profile_picture %}
                        <img src="{{ profile_picture }}" class="img-responsive"/>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <th>Membership Status</th>
                        <td>{{ object.user.membership_status }}</td>
                    </tr>
                    <tr>
                        <th>Membership Card</th>
                        <td>{{ object.user.card_status }}</td>
                    </tr>
                    <tr>
                        <th>Member Since</th>
                        <td>{{ object.approved_date }}</td>
                    </tr>
                </table>
            </div>

{% endblock %}