{% extends 'dashboard_base.html' %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}

{% block title %} Memberships {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_memberships' %}"><i class="fa fa-user"></i>Memberships</a>
{% endblock %}

{% block content %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <th>{% anchor registration_date 'Registration Date' %}</th>
            <th>{% anchor user 'User' %}</th>
            <th>{% anchor mobile 'Mobile' %}</th>
            <th>{% anchor approved_by 'Approved By' %}</th>
            <th>{% anchor approved_date 'Approved Date' %}</th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr class="{% if item.approved %}success{% else %}warning{% endif %}">
                    <td>
                        <a href="{% url 'update_membership' item.id %}">
                            {{ item.registration_date }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'update_user' item.user.id %}">
                            {{ item.user.full_name }}
                        </a>
                    </td>
                    <td>
                        {{ item.mobile }}
                    </td>
                    <td>
                        {{ item.approved_by }}
                    </td>
                    <td>
                        {{ item.approved_date }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

{#    <div class="pull-right">#}
{#        <a class="btn btn-success" href="{% url 'create_membership' %}">Add New Membership</a>#}
{#    </div>#}

{% endblock %}