{% extends 'dashboard_base.html' %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}

{% block title %} Memberships {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_memberships' %}"><i class="fa fa-user"></i>Memberships</a>
{% endblock %}

{% block content %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <th>{% anchor registration_date 'Registration Date' %}</th>
            <th>{% anchor user__devil_no 'Devil No.' %}</th>
            <th>{% anchor user 'User' %}</th>
            {#            <th>{% anchor mobile 'Mobile' %}</th>#}
            <th>{% anchor approved_by 'Approved By' %}</th>
            <th>{% anchor approved_date 'Approved Date' %}</th>
            <th>{% anchor payment 'Payment' %}</th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr class="{% if item.approved %}success{% else %}warning{% endif %}">
                    <td>
                        <a href="{% url 'update_membership' item.id %}">
                            {{ item.registration_date }}
                        </a>
                    </td>
                    <td>
                        {{ item.user.devil_no }}
                    </td>
                    <td>
                        <a href="{% url 'update_user' item.user.id %}">
                            {{ item.user.full_name }}
                        </a>
                    </td>
                    {#                    <td>#}
                    {#                        {{ item.mobile }}#}
                    {#                    </td>#}
                    <td>
                        {% if item.approved_by %}
                            <a href="{% url 'update_user' item.approved_by.id %}">
                                {{ item.approved_by.full_name }}
                            </a>
                        {% endif %}

                    </td>
                    <td>
                        {{ item.approved_date }}
                    </td>
                    <td>
                        {% if item.payment %}
                            <a href="{% url 'update_payment' item.payment.id %}">
                                {{ item.payment }}
                            </a>
                        {% else %}
                            {#                            Create Payment#}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

    {#    <div class="pull-right">#}
    {#        <a class="btn btn-success" href="{% url 'create_membership' %}">Add New Membership</a>#}
    {#    </div>#}

{% endblock %}