{% extends 'dashboard_base.html' %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}

{% block title %} Memberships {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_memberships' %}"><i class="fa fa-user"></i>Memberships</a>
    <div class="pull-right">
        <a class="btn btn-info" href="{% url 'email_new_cards' %}">E-mail New Cards</a>
        <a class="btn btn-info" href="{% url 'download_new_cards' %}">Download New Cards</a>
    </div>
    <form>
        <input type="text" name="q" placeholder="Search...">
    </form>
{% endblock %}

{% block content %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <th>{% anchor registration_date 'Registration Date' %}</th>
            <th>
                {% anchor user__devil_no 'Devil No.' %}
                <a id="devil_no_span">x</a>
            </th>
            <th>{% anchor user 'User' %}</th>
            {#            <th>{% anchor mobile 'Mobile' %}</th>#}
            <th>{% anchor approved_by 'Approved By' %}</th>
            <th>{% anchor approved_date 'Approved Date' %}</th>
            <th>{% anchor expiry_date 'Expiry Date' %}</th>
            <th>{% anchor card_status__status 'Card Status' %}</th>
            <th>{% anchor payment 'Payment' %}</th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr class="{% if item.approved %}success{% else %}warning{% endif %}">
                    <td>
                        <a href="{% url 'update_membership' item.id %}">
                            {{ item.registration_date }}
                        </a>
                    </td>
                    <td>
                        {% if item.user.devil_no %}
                            <form action="{% url 'update_membership' item.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="Download Card">
                                <input type="submit" value="{{ item.user.devil_no }}">
                            </form>

                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'update_user' item.user.id %}">
                            {{ item.user.full_name|title }}
                        </a>
                    </td>
                    {#                    <td>#}
                    {#                        {{ item.mobile }}#}
                    {#                    </td>#}
                    <td>
                        {% if item.approved_by %}
                            <a href="{% url 'view_staff' item.approved_by.id %}">
                                {{ item.approved_by.full_name }}
                            </a>
                        {% endif %}

                    </td>
                    <td>
                        {{ item.approved_date }}
                    </td>
                    <td>
                        {{ item.expiry_date }}
                    </td>
                    <td>
                        {{ item.card_status.get_status_display }}
                    </td>
                    <td>
                        {% if item.payment %}
                            <a href="{{ item.payment.method.get_absolute_url }}">
                                {{ item.payment }}

                            </a>
                        {% else %}

                            <a href="{% url 'create_direct_payment_for_membership' item.id %}">
                                Create Payment
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

    {#    <div class="pull-right">#}
    {#        <a class="btn btn-success" href="{% url 'create_membership' %}">Add New Membership</a>#}
    {#    </div>#}

{% endblock %}

{% block extra_body %}
    <script>
        $(function () {
            $('#devil_no_span').on('click', function () {
                $('td input[type="submit"]').each(function (i, btn) {
                    $(btn).replaceWith($('<span>' + btn.value + '</span>'));
                });
            });
        });
    </script>
{% endblock %}