{% extends 'base.html' %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}

{% block title %} Memberships {% endblock %}


{% block content %}

    <h1 class="mb-5">{{ count }} members</h1>

    <form class="form-inline">
        <input type="text" name="q" placeholder="Search..." class="form-control large" autofocus>
    </form>
    <br>

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}


    {% if object_list %}
        <table class="table table-bordered table-hover">
            <thead>
            <th>{% anchor full_name 'Member' %}</th>
            <th>{% anchor status 'Membership Status' %}</th>
            <th>{% anchor card_status 'Card Status' %}</th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr>
                    <td>
                        <a href="{% url 'view_member_profile' item.username %}">
                            {{ item.full_name }}
                        </a>
                    </td>
                    <td>
                        {{ item.status }}
                    </td>
                    <td>
                        {{ item.card_status }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}


    {% paginate %}

{% endblock %}