{% extends 'dashboard_base.html' %}
{% load filters %}

{% block title %} {{ scenario }} Membership {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_memberships' %}"><i class="fa fa-user"></i>Memberships</a>
    <span>{{ scenario }} {{ object }}</span>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <form method="POST" enctype="multipart/form-data" role="form">

                {% csrf_token %}

                {% include 'users/_membership_form.html' with form=form object=object %}

                <br/>
                <input type="submit" class="btn btn-info" value="Submit">
                Fields marked with <i class="required"></i> are mandatory.
            </form>

            <div class="pull-right actions">
                {% if object.approved %}
                    {% include 'partials/action_form.html' with action='Download Card' class='success' %}
                    {% include 'partials/action_form.html' with action='Disprove' class='danger' %}
                {% elif object.approvable %}
                    {% include 'partials/action_form.html' with action='Approve' class='success warning' %}
                {% endif %}
                {% include 'partials/delete_button.html' with object=object url='delete_membership' %}
            </div>
        </div>


    </div>

{% endblock %}