{% extends 'dashboard_base.html' %}
{% load filters %}

{% block title %} {{ scenario }} New User/Membership {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_memberships' %}"><i class="fa fa-user"></i>Memberships</a>
    <span>New User/Membership</span>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <form method="POST" enctype="multipart/form-data" role="form">

                {% csrf_token %}
                <div class="limit-width">
                    {% include 'users/_user_form.html' with form=user_form %}
                </div>

                {% include 'users/_membership_form.html' with form=membership_form %}

                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#direct-payment" aria-controls="direct-payment"
                                                                  role="tab"
                                                                  data-toggle="tab">Direct Payment</a></li>
                        <li role="presentation"><a href="#bank-deposit" aria-controls="bank-deposit" role="tab"
                                                   data-toggle="tab">Bank Deposit</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="direct-payment">
                            <br>
                            {% include 'payment/_directpayment_form.html' with form=direct_payment_form %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="bank-deposit">
                            {% include 'payment/_bankdeposit_form.html' with form=direct_payment_form %}
                        </div>
                    </div>

                </div>

                <input type="submit" class="btn btn-primary" value="Submit">
                Fields marked with <i class="required"></i> are mandatory.
            </form>

            <div class="pull-right actions">
                {% include 'partials/delete_button.html' with object=object url='delete_membership' %}
            </div>
        </div>


    </div>

{% endblock %}