{% extends 'dashboard_base.html' %}
{% load filters %}

{% block title %} {{ scenario }} New User/Membership {% endblock %}

{% block extrahead %}
    {% include 'partials/selectize.html' %}
    {% include 'partials/datetimepicker.html' %}
    <script>
        var disable_required_on_hidden_tabcontent = function (e) {
            // change value of hidden payment_method input
            if (typeof($(e.currentTarget).attr('aria-controls')) != 'undefined') {
                $('input[name="payment_method"]').val($(e.currentTarget).attr('aria-controls'))
            }
            // disable required attribute in elements within hidden tabs
            $(':input[required]:hidden').removeAttr('required').addClass('wasrequired');
            $('.wasrequired:visible').removeClass('wasrequired').prop('required', 'required');
        }
        $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', disable_required_on_hidden_tabcontent);
        $(document).on('ready', disable_required_on_hidden_tabcontent);
    </script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_memberships' %}"><i class="fa fa-user"></i>Memberships</a>
    <span>New User/Membership</span>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <form method="POST" enctype="multipart/form-data" role="form">

                {% csrf_token %}
                <div class="limit-width">
                    {% include 'users/_user_form.html' with form=user_form %}
                </div>

                {% include 'users/_membership_form.html' with form=membership_form hide='full_name' %}

                <h2>Payment Details</h2>

                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs limit-width" role="tablist">
                        <li role="presentation" class="active"><a href="#direct-payment" aria-controls="direct-payment"
                                                                  role="tab"
                                                                  data-toggle="tab">Direct Payment</a></li>
                        <li role="presentation"><a href="#bank-deposit" aria-controls="bank-deposit" role="tab"
                                                   data-toggle="tab">Bank Deposit</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active limit-width" id="direct-payment">
                            <br>
                            {% include 'payment/_directpayment_form.html' with form=direct_payment_form hide='user' %}
                        </div>
                        <br>

                        <div role="tabpanel" class="tab-pane limit-width" id="bank-deposit">
                            {% include 'payment/_bankdeposit_form.html' with form=bank_deposit_form hide='user' %}

                        </div>
                    </div>

                </div>

                <input type="hidden" name="payment_method" value="direct-payment">
                <input type="submit" class="btn btn-info" value="Submit">
            </form>

            <div class="pull-right actions">
                {% include 'partials/delete_button.html' with object=object url='delete_membership' %}
            </div>
        </div>

    </div>

{% endblock %}