{% extends 'dashboard_base.html' %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}

{% block title %} Users {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a class="breadcrumb-item" href="{% url 'list_users' %}"><i class="fa fa-users mr-1 "></i>Users</a>
    <form class="form-inline float-right">
        <input type="text" class="form-control" name="q" placeholder="Search...">
    </form>
{% endblock %}

{% block content %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}



    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <th>{% anchor full_name 'Full Name' %}</th>
            <th>{% anchor devil_no 'Devil No.' %}</th>
            <th>{% anchor email 'Email' %}</th>
            <th>{% anchor status 'Status' %}</th>
            <th>{% anchor devil_no 'Card Status' %}</th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr class="{% if item.status == 'Pending Approval' %}warning{% elif item.status == 'Member' %}success{% endif %}">
                    <td>
                        <a href="{% url 'update_user' item.id %}">
                            {{ item.full_name }}
                        </a>
                    </td>
                    <td>{{ item.devil_no }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.status }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

    <div class="pull-right">
        <a class="btn btn-success" href="{% url 'create_user' %}">Add New User</a>
    </div>

{% endblock %}