{% extends 'dashboard_base.html' %}
{% load filters %}

{% block title %} {{ scenario }} User {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_users' %}"><i class="fa fa-users"></i>Users</a>
    <span>{{ scenario }} {{ object }}</span>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <form method="POST">

                {% csrf_token %}

                {% include 'users/_user_form.html' with form=form object=object %}

                <input type="submit" class="btn btn-info" value="Save">

            </form>

            <div class="pull-right actions">
                {% include 'partials/delete_button.html' with object=object url='delete_user' %}
            </div>
        </div>


    </div>

{% endblock %}