{% extends 'dashboard_base.html' %}
{% load filters %}

{% block title %} {{ scenario }} User {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_users' %}"><i class="fa fa-users"></i>Users</a>
    <span>{{ scenario }} {{ object }}</span>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <form method="POST">

                {{ form.non_field_errors }}

                {% csrf_token %}

                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>

                <div class="form-group">
                    {{ form.full_name.label_tag }}
                    {{ form.full_name }}
                    {{ form.full_name.errors }}
                </div>


                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                <div class="form-group">
                    <label for="id_password1">Password:</label>
                    <input class="form-control" id="id_password1" name="password1"
                           {% if not object.pk %}required="required"{% endif %} type="password">
                    {{ form.password1.errors }}
                </div>

                <div class="form-group">
                    <label for="id_password2">Password:</label>
                    <input class="form-control" id="id_password2" name="password2"
                           {% if not object.pk %}required="required"{% endif %} type="password">
                    {{ form.password2.errors }}
                </div>

                <input type="submit" class="btn btn-info" value="Save">

            </form>

            <div class="pull-right actions">
                {% include 'partials/delete_button.html' with object=object url='delete_user' %}
            </div>
        </div>


    </div>

{% endblock %}