{% extends 'dashboard_base.html' %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}

{% block title %} Users {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_users' %}"><i class="fa fa-users"></i>Users</a>
{% endblock %}

{% block content %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <th>{% anchor username 'Username' %}</th>
            <th>{% anchor full_name 'Full Name' %}</th>
            <th>{% anchor email 'Email' %}</th>
            <th>{% anchor membership 'Membership' %}</th>
            {#            <th>{% anchor approved_date 'Approved Date' %}</th>#}
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr class="{% if item.is_member %}success{% else %}warning{% endif %}">
                    <td>
                        <a href="{% url 'update_user' item.id %}">
                            {{ item.username }}
                        </a>
                    </td>
                    <td>
                        {{ item.full_name }}
                    </td>
                    <td>
                        {{ item.email }}
                    </td>
                    <td>
                        {% if item.membership %}
                            <a href="{% url 'update_membership' item.membership.id %}">
                            {{ item.membership }}
                        {% endif %}
                        </a>
                    </td>
                    {#                    <td>#}
                    {#                        {{ item.approved_date }}#}
                    {#                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

    <div class="pull-right">
        <a class="btn btn-success" href="{% url 'create_user' %}">Add New User</a>
    </div>

{% endblock %}