{% extends 'base.html' %}
{% load filters %}

{% block title %} {{ object.full_name }}{% endblock %}

{% block content %}
    <h1>
        {% if object.devil_no %}
            #{{ object.devil_no }} -
        {% endif %}
        {{ object.full_name }}
        {% if object.is_member %}
            <i class="fa fa-check verified"></i>
        {% endif %}
    </h1>

    <div class="row">

        <div class="col-md-6">
            {% with profile_picture=object.profile_picture %}
                {% if profile_picture %}
                    <img src="{{ profile_picture }}" class="img-responsive"/>
                {% endif %}
            {% endwith %}
        </div>
    
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Membership Status</th>
                    <td>{{ object.membership_status }}</td>
                </tr>
                <tr>
                    <th>Membership Card</th>
                    <td>{{ object.card_status }}</td>
                </tr>
                <tr>
                    <th>Member Since</th>
                    <td>{{ object.membership.approved_date }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}