/* Navbar Styles */

nav.navbar.navbar-default {
    background-color: #000;
    border: none;
    border-bottom: 1px solid #e54d36;
}

nav.navbar.navbar-default img {
    height: 55px;
    margin-top: -15px;
    display: inline;
}

.navbar-default .navbar-brand {
    color: #e54d36;

}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e54d36;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}

/* Breadcrumbs */

.breadcrumbs {
    margin: 15px 0 1em 18px;
}

.breadcrumbs > a, .breadcrumbs > span {
    color: #333;
    border: 1px solid #ccc;
    padding: 0.4em 0.8em;
    float: left;
    font-size: 0.9em;
    position: relative;
    margin-left: -1px;
}

.breadcrumbs > a:hover, .breadcrumbs > span:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none;
}

.breadcrumbs > a:last-child, .breadcrumbs > span:last-child {
    font-weight: bold;
    /*border-right: none;*/
}

.breadcrumbs .fa {
    margin-right: 0.3em;
}

/* Dashboard Icon Styles */

.dashboard-icons {
    text-align: center;
}

.tile {
    width: 15em;
    height: 200px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 4px solid #ccc;
    float: left;
    color: #444;
    margin: 1em;
}

.tile:hover {
    text-decoration: none;
    color: black;
}

.tile > .fa {
    display: block;
    font-size: 8em;
    padding: 0.1em 0;
}

.tile h2 {
    text-transform: uppercase;
    margin: 0;
    background-color: #cccccc;
    position: absolute;
    top: 160px;
    width: 100%;
    padding: 0.12em;
}

.flip-body {
    position: absolute;
    top: 160px;
    transition: all 300ms linear;
    width: 100%;
}

.flip-container.open .flip-body {
    top: 0;
}

.flip-container > i.fa {
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.flip-container.open > i.fa {
    opacity: 0;
}

.flip-body h2 {
    position: relative;
    top: 0;
}

.tile .flip-body a {
    display: block;
    background-color: #eeeeee;
    padding: 0.3em;
    border-bottom: 1px solid #dddddd;
    color: #555;
    opacity: 0.75;
}

.tile .flip-body a:hover {
    text-decoration: none;
    opacity: 1;
}

.actions form {
    display: inline;
}

.actions.pull-right {
    margin-top: -2em;
}

.breadcrumbs form input {
    float: right;
}