/* Navbar Styles */

nav.navbar {
    background-color: #000;
    border: none;
    border-bottom: 1px solid #e54d36;
}

.navbar-default .navbar-brand {
    color: #e54d36;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e54d36;;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}

/* Tiles Style */

.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    min-height: 5em;
    text-align: center;
}

.breadcrumbs{
    margin-bottom: 1em;
}