.radio{
    margin-top: auto;
}

.radio ul {
    padding-left: 0;
}


#wrapper-login {
    width: 350px;
}

.connect-with {
    text-transform: uppercase;
    font-size: x-large;
}

/* or styling*/

#wrapper-login form.login {
    position: relative;
    list-style: none;
    margin: 20px 0 0 0;-
    padding: 30px 0 0 0;
    border-top: 1px solid #ccc;
}

#wrapper-login form.login:before {
    content: 'or';
    position: absolute;
    top: 0;
    left: 50%;
    margin: -11px 0 0 -7px;
    padding: 0 3px;
    background-color: #fff;
    font-weight: bold;
}

/*Social icons styles*/

.social-button {
    max-width: 350px;
}

.smGlobalBtn {
    display: inline-block;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
}

.smGlobalBtn:hover {
    text-decoration: none;
    background: #fff;
    border: 3px solid;
    line-height: 54px;
}

.smGlobalBtn:before {
    font-family: "FontAwesome";
}

.facebookBtn {
    background: #4060A5;
}

.facebookBtn:hover {
    color: #4060A5;
}

.twitterBtn {
    background: #00ABE3;
}

.twitterBtn:hover {
    color: #00ABE3;
}

.googleBtn {
    background: #e64522;
}

.googleBtn:hover {
    color: #e64522;
}

/* use :before to add the relevant icons */
.facebookBtn:before {
    content: "\f09a";
}

.twitterBtn:before {
    content: "\f099";
}

.googleBtn:before {
    content: "\f0d5";
}

/*Sign Up form style*/

form.signup button {
    text-align: center;
    max-width: 100px;
    /*margin: 0px auto;*/
}

form.signup {
    max-width: 400px;
}

/* Hybrid Login Register Page*/

#wrapper-login-register h2 {
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 6px;
    margin-bottom: 10px;
    font-size: x-large;
}

#wrapper-login-register a#id-sign-up {
    display: none;
}

#wrapper-login-register #btn-sign-in {
    max-width: 150px;
}

#wrapper-login-register .social-button .row {
    max-width: 225px;
}

#wrapper-login-register form.login input{
    max-width: 300px;
}

/* Membership Form*/
#wrapper-membership-form .social-accounts .btn {
    color: #fff;
}

#wrapper-membership-form .social-accounts .btn:hover {
    opacity: 0.75;
}

#id_full_name, #id_date_of_birth, #id_mobile, #id_telephone {
    max-width: 350px;
}

/*Password Reset*/

form.password_reset{
    max-width: 350px;
}