/*
#e54d36
*/

html {
    height: 100%;
}

body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 16px;
    height: 100%
}

/*Navbar styles*/

.navbar .logo {
    height: 50px;
    /*height: 70px;*/
    display: inline-block;
    margin-top: -15px;
}

nav.navbar {
    /*border-bottom: 1px solid #111111;*/
    /*background-color: #e54d36;*/
    border-bottom: 1px solid #e54d36;
    margin-bottom: 0;
    background-color: #e54d36;
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    text-transform: uppercase;
}

nav.navbar .dropdown-menu a {
    color: black !important;
}

#navbarCollapse a {
    color: #fff;
}

.nopadding {
    padding: 0 !important;
    /*margin: 0 !important;*/
}

/* Footer */

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -25px;
}

#push {
    height: 25px;
}

footer {
    background-color: #f5f5f5;
    margin-top: 150px;
    padding: 1em;
}

.footer-links {
    padding: 0;
}

.footer-links a:hover {
    text-decoration: none;
}

.footer-links a:before {
    content: "| ";
}

.footer-links a:first-child:before {
    content: "";
}

@media only screen and (max-width: 991px) {
    footer div.container div.row div {
        text-align: center;
        padding-bottom: 0.6em;
    }
}

/* Social icons*/

.facebookBtn:before {
    content: "\f09a";
}

.twitterBtn:before {
    content: "\f099";
}

.googleBtn:before {
    content: "\f0d5";
}

.facebookBtn {
    background: #4060A5;
}

.googleBtn {
    background: #e64522;
}

.githubBtn:before {
    content: "\f113";
}

.githubBtn {
    background: #888;
}

.githubBtn:hover {
    color: #888;
}

.twitterBtn {
    background: #00ABE3;
}

.facebookBtn:hover {
    color: #4060A5;
}

.twitterBtn:hover {
    color: #00ABE3;
}

.googleBtn:hover {
    color: #e64522;
}

.smGlobalBtn:before {
    font-family: "FontAwesome";
}

.smGlobalBtn {
    color: #fff;
    display: inline-block;
    width: 2em;
    line-height: 2em;
    text-align: center;
}

.smGlobalBtn:hover {
    text-decoration: none;
    background: #fff;
    border: 0.2em solid;
    line-height: 1.6em !important;
}

/* Form styles*/

form ul li {
    list-style: none;
    display: inline;
}

#error-message, .errorlist {
    color: #a55;
}

.limit-width {
    max-width: 350px;
}

.payment-form {
    max-width: 380px;
}

.required label:after {
    content: '*';
    color: red;
}

i.required:after {
    content: '*';
    color: red;
}

.help-text {
    opacity: 0.65;
    font-size: 90%;
}

.table-nonfluid {
    width: auto !important;
}

img.overlaid {
    background: rgba(255, 0, 0, 0.25);
}

.section.featured {
    position: relative;
}

.featured img {
    max-height: 500px;
    width: 100%;
}

.overlay {
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
}

.call-to-action {
    min-height: 8em;
}

.call-to-action h2 {
    text-align: center;
}

.section.stats.row {
    margin-top: -2em;
}

.stats-block {
    background-color: #ddd;
    min-height: 20em;
    border-top: 0.5em solid #e54d36;
}

.stats-block h2 {
    color: #e54d36;
    padding: 0 0.5em;
}

.next-match .fixture {
    text-align: center;
}

.next-match .datetime {
    color: #e54d36;
}

.next-match .date {
    font-size: 4em;
}

.next-match .month {
    margin-top: -1.5em;
}

.next-match .date sup {
    font-size: 0.5em;
    text-transform: uppercase;
}

.next-match .opponent-crest img {
    /*height: 8em;*/
}

.stats-block .result {
    padding-top: 1em;
}

i.result1 {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    background-color: green;
}

i.result0 {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    background-color: yellow;
}

i.result-1 {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    background-color: red;
}

.block-content {
    padding-left: 1em;
}

.auto-width {
    width: auto !important;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

table.table-centered td {
    vertical-align: middle !important;
}

.bold {
    font-weight: bold;
}

/*.left-bordered{*/
/*border-left: 1px solid #cccccc;*/
/*}*/

/*.right-bordered{*/
/*border-right: 1px solid #cccccc;*/
/*}*/

td.bold {
    background: #f8f8f8;
}

.table-responsive {
    overflow-x: auto;
}