/*
Brand Color:
#e54d36
*/

html {
    height: 100%;
}

body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 16px;
    height: 100%
}

/*Navbar styles*/

.navbar .logo {
    height: 50px;
    display: inline-block;
    margin-top: -15px;
}

nav.navbar {
    border-bottom: 1px solid #e54d36;
}

.navbar-default .navbar-brand {
    color: #e54d36;
    text-transform: uppercase;
}

form ul li {
    list-style: none;
    display: inline;
}

#error-message {
    color: #a55;
}

.limit-width {
    max-width: 350px;
}

/* Style for fixing footer at bottom */

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -25px;
}

#push {
    height: 25px;
}

/* Footer styles */

footer {
    height: 1px;
    background-color: #f5f5f5;
    border-top: 1px solid #cccccc;
    margin-top: 10px;
    text-align: center;
    color: #e54d36;
    position: relative;
    border-top: 1px solid #e54d36;

}

.copyleft-text {
    position: relative; 
    /*bottom: -90px;*/
    display: inline;
}

.text-footer {
    width: 30%;
}

h3.footer-heading {
    line-height: 0;
    padding-top: .5em;
    float: left;
}

#footer-text {
    margin-top: .65em;
}

/* Social button follow us */

.social-icon {
    padding-top: 6px;
    font-size: 16px;
    text-align: center;
    width: 32px;
    height: 32px;
    border: 2px solid #777;
    border-radius: 50%;
    color: #777;
    margin: 5px;
}

a.social-icon:hover, a.social-icon:active, a.social-icon:focus {
    text-decoration: none;
    color: #e54d36;
    border-color: #e54d36;
}


