/*
#e54d36
*/

html {
    height: 100%;
}

* {
    font-family: 'Lato', sans-serif;
}

body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 16px;
    height: 100%
}

h1, h2 {
    color: #e54d36;
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    padding: 0;
    margin-bottom: 30px;
}

input {
    border: 1px solid #CCC;
    padding: 5px;
}

textarea {
    resize: none;
}

/*Navbar styles*/

nav.navbar {
    /*border-bottom: 1px solid #111111;*/
    /*background-color: #e54d36;*/
    border-bottom: 1px solid #e54d36;
    margin-bottom: 0;
    background-color: #e54d36;
    color: #fff;
}

.nopadding {
    padding: 0 !important;
    /*margin: 0 !important;*/
}

/* Footer */

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -25px;
}

#push {
    height: 25px;
}

footer {
    background-color: #f5f5f5;
    margin-top: 150px;
    padding: 1em;
}

.footer-links {
    padding: 0;
}

.footer-links a:hover {
    text-decoration: none;
}

.footer-links a:before {
    content: "| ";
}

.footer-links a:first-child:before {
    content: "";
}

@media only screen and (max-width: 991px) {
    footer div.container div.row div {
        text-align: center;
        padding-bottom: 0.6em;
    }
}

/* Social icons*/

.facebookBtn:before {
    content: "\f09a";
}

.twitterBtn:before {
    content: "\f099";
}

.googleBtn:before {
    content: "\f0d5";
}

.facebookBtn {
    background: #4060A5;
}

.googleBtn {
    background: #e64522;
}

.githubBtn:before {
    content: "\f113";
}

.githubBtn {
    background: #888;
}

.githubBtn:hover {
    color: #888;
}

.twitterBtn {
    background: #00ABE3;
}

.facebookBtn:hover {
    color: #4060A5;
}

.twitterBtn:hover {
    color: #00ABE3;
}

.googleBtn:hover {
    color: #e64522;
}

.smGlobalBtn:before {
    font-family: "FontAwesome";
}

.smGlobalBtn {
    color: #fff;
    display: inline-block;
    width: 2em;
    line-height: 2em;
    text-align: center;
}

.smGlobalBtn:hover {
    text-decoration: none;
    background: #fff;
    border: 0.2em solid;
    line-height: 1.6em !important;
}

/* Form styles*/

form ul li {
    list-style: none;
    display: inline;
}

#error-message, .errorlist {
    color: #a55;
}

.limit-width {
    max-width: 350px;
}

.payment-form {
    max-width: 380px;
}

.required label:after {
    content: '*';
    color: red;
}

i.required:after {
    content: '*';
    color: red;
}

.help-text {
    opacity: 0.65;
    font-size: 90%;
}

.table-nonfluid {
    width: auto !important;
}

img.overlaid {
    background: rgba(255, 0, 0, 0.25);
}

.section.featured {
    position: relative;
    /*margin-top: -200px;*/
    padding: 20px;
    background-color: #FFF;
}

.featured img {
    max-height: 500px;
    width: 100%;
}

.overlay {
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
}

.call-to-action {
    /*min-height: 8em;*/
}

.call-to-action h2 {
    text-align: center;
}

.section.stats.row {
    margin-top: -2em;
}

.stats-block {
    background-color: #FFF;
    box-shadow: 0 0 20px -4px #CCC;
    height: 25em;
    border-top: 0.5em solid #e54d36;
    width: 21em;
    float: left;
    margin: 2em 0 0 2em;
    padding: 20px 25px 25px;
    overflow: hidden;
}

.stats-block h2 {
    color: #e54d36;
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    padding: 0;
    margin-bottom: 30px;
}

.next-match .fixture {
    text-align: center;
}

.next-match .datetime {
    color: #e54d36;
}

.next-match .date {
    font-size: 4em;
}

.next-match .month {
    margin-top: -1.5em;
}

.next-match .date sup {
    font-size: 0.5em;
    text-transform: uppercase;
}

.next-match .opponent-crest img {
    /*height: 8em;*/
}

.stats-block .result {
    padding: 0.8em 0;
}

i.result1 {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    background-color: green;
}

i.result0 {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    background-color: yellow;
}

i.result-1 {
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    background-color: red;
}

.block-content {
    padding-left: 1em;
}

.auto-width {
    width: auto !important;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

table.table-centered td {
    vertical-align: middle !important;
}

.bold {
    font-weight: bold;
}

/*.left-bordered{*/
/*border-left: 1px solid #cccccc;*/
/*}*/

/*.right-bordered{*/
/*border-right: 1px solid #cccccc;*/
/*}*/

td.bold {
    background: #f8f8f8;
}

.table-responsive {
    overflow-x: auto;
}

.reddit-thread .text {
    margin-left: 85px;
    max-height: 2.5em;
    overflow: hidden;
}

.reddit-thread .meta {
    opacity: 0.75;
}

.reddit-thread img {
    width: 70px;
    margin-right: 15px;
    max-height: 3em;
}

.reddit-thread {
    padding: 3px 15px;
    /*height: 85px;*/
}

.reddit-thread .thumbnail-placeholder {
    width: 70px;
    height: 70px;
    background-color: #cccccc;
    display: inline-block;
}

.highlight {
    color: #e54d36;
}

#news-content .news-item {
    margin-bottom: 0.5em;
    list-style: none;
}

.section.quote-block {
    clear: both;
    text-align: center;
    padding: 1em;
}

.quote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.quote-block .by {
    text-align: right;
}

.quote-block .by:before {
    content: '- ';
}

.pull-up-content {
    background-color: #FFF;
    /*margin-top: -200px;*/
    position: relative;
    padding: 39px;
    border-radius: 30px;
}

.connect.btn {
    width: 230px !important;
    margin: 0.2em !important;
}

header {
    background: #e54d36;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTU0ZDM2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY4MTkwZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg, #e54d36 0%, #68190e 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e54d36), color-stop(100%, #68190e));
    background: -webkit-linear-gradient(-45deg, #e54d36 0%, #68190e 100%);
    background: -o-linear-gradient(-45deg, #e54d36 0%, #68190e 100%);
    background: -ms-linear-gradient(-45deg, #e54d36 0%, #68190e 100%);
    background: linear-gradient(135deg, #e54d36 0%, #68190e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e54d36', endColorstr='#68190e', GradientType=1);
}

.navbar.navbar-default {
    background-color: rgba(0, 0, 0, 0.4);
}

.brand-name {
    display: table;
    height: 100px;
}

.brand-name h1 {
    display: table-cell;
    vertical-align: middle;
}

.brand-name h1 a {
    color: #ffffff;
    font-size: 1.3em;
    font-style: italic;
}

.brand-name h1 a:hover {
    text-decoration:  none;
}

header img.logo {
    height: 100px;
}

.navbar-toggle .icon-bar {
    margin: 0 auto;
}

.navbar-header{
    margin-left: 0 !important;
}

@media only screen and (max-width: 400px) {
    .brand-name h1 a {
        font-size: 1em;
    }
}

@media only screen and (max-width: 575px) {
    header img.logo {
        height: auto;
    }
}

.navbar-default .navbar-nav>li>a {
    color: #ddd;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #aaa;
}

#news-content a{
    color: #D23A35;
}

.timer span{
    font-size: xx-large;
}

.countdown .text{
    margin-top: 1em;
}

.countdown .timer, .countdown .countdown-footer{
    color: #e54d36;
}

#mufc-menu{
    display: none !important;
}

.container {
  background-color: #FFF;
  /* margin-top: -200px; */
  position: relative;
  padding: 39px;
  /* border-radius: 30px; */
}

.person-block{
    width: 300px;
    border: 1px solid #CCCCCC;
}

.person-block .name{
    font-weight: bold;
}