{% extends 'base.html' %}
{% load filters %}
{% load staticfiles %}

{% block title %} {{ object.headline }} {% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'timeline/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'timeline/font.default.css' %}">
    <script src="{% static 'timeline/timeline.js' %}"></script>
    <script>
        var timeline_data = {{ object.serialize | jsonify }}
                $(document).ready(function () {
                    var options = {
                        hash_bookmark: true,
                    };

                    var timeline = new TL.Timeline('timeline-embed', timeline_data, options);

                    window.onresize = function (event) {
                        timeline.updateDisplay();
                    }
                });
    </script>
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <h1 class="page-header">Timeline: {{ object.headline }}</h1>

        <div id='timeline-embed' style="width: 100%; height: 600px"></div>

    </div>
{% endblock %}