{% extends 'base.html' %}
{% load filters %}
{% load staticfiles %}
{% load pagination_tags %}

{% block title %} Events {% endblock %}

{% block extrahead %}
    <link href="{% static "events/events.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

        <h1>Events</h1>

        {% autopaginate object_list 20 as events %}

        {% for event in events %}
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="date-icon">
                        <div class="date-month">{{ event.start|date:"M" }}</div>
                        <div class="date-day">{{ event.start.date.day }}</div>
                    </div>
                    <h2><a href="{{ event.get_absolute_url }}">{{ event }}</a></h2>
                    {% if event.whole_day_event %}
                        <strong>Date:</strong>
                        {{ event.start.date }}<br/>
                    {% else %}
                        <strong>Starts:</strong>
                        {{ event.start }}<br/>
                    {% endif %}

                    <strong>Venue:</strong> {{ event.venue }}<br/>

                    {% if event.albums.all %}
                        <strong>Gallery:</strong>
                        {% for album in event.albums.all %}
                            <a href="{% url 'album-images' album.slug %}">{{ album.name }}</a>
                        {% endfor %}
                    {% endif %}


                </div>
            </div>

        {% endfor %}

        {% paginate %}

{% endblock %}

