{% extends 'base.html' %}
{% load filters %}
{% load staticfiles %}

{% block title %} {{ event }} {% endblock %}

{% block extrahead %}
    <link href="{% static "events/events.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    <div class="container-fluid">

        <h1>{{ event }}</h1>

        {% if event.image %}
            <img class="img-responsive" src="{{ event.image.url }}"/>
        {% endif %}

        <div class="panel panel-default">

            <div class="panel-body">
                <div class="date-icon">
                    <div class="date-month">{{ event.start|date:"M" }}</div>
                    <div class="date-day">{{ event.start.date.day }}</div>
                </div>


                <strong>Starts:</strong> {{ event.start }}<br/>
                {% if event.end %}
                    <strong>Ends:</strong> {{ event.end }}<br/>
                {% endif %}
                <strong>Venue:</strong> {{ event.venue }}<br/>
                {% if event.organizer %}
                    <strong>Organizer:</strong> {{ event.organizer }}<br/>
                {% endif %}
                <br/>
                {{ event.description|safe }}


            </div>
        </div>


    </div>
{% endblock %}

