{% extends "admin/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Manchester United Supporters' Club Nepal{% endblock %}
<link rel="icon" type="image/png" href="{% block favicon_url %}{% static 'img/favicon.ico' %}{% endblock %}"/>

{% block branding %}
    <h1 id="site-name">MUSCN Admin Panel</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
    {% endif %}
    <a href="/">{% trans 'Visit Website' %}</a> /
    {% if user.is_superuser %}
        <a href={% url 'site_settings' %}>{% trans 'Settings' %}</a> /
        <a href={% url 'clear_cache' %}>{% trans 'Clear Cache' %}</a> /
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}