{% extends 'dashboard_base.html' %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}

{% block title %} Audit Log{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'audit_log' %}"><i class="fa fa-history"></i>Audit Log</a>
{% endblock %}

{% block content %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <th>{% anchor actor 'Actor' %}</th>
            <th>{% anchor object_repr 'Object' %}</th>
            <th>{% anchor content_type 'Type' %}</th>
            <th>{% anchor action 'Action' %}</th>
            <th>{% anchor timestamp 'Timestamp' %}</th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr>
                    <td>
                        {{ item.actor.full_name }}
                    </td>
                    <td>
                        {% if item.action == 2 %}
                            {{ item.object_repr }}
                        {% else %}
                            {% if item.get_object.get_absolute_url %}
                                <a href="{{ item.get_object.get_absolute_url }}">{{ item.object_repr }}</a>
                            {% else %}
                                {{ item.object_repr }}
                            {% endif %}

                        {% endif %}
                    </td>
                    <td>
                        {{ item.content_type }}
                    </td>
                    <td>
                        {% if item.action == 0 %}
                            Create
                        {% elif item.action == 1 %}
                            Update
                        {% else %}
                            Delete
                        {% endif %}
                    </td>
                    <td>
                        {{ item.timestamp }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

{% endblock %}