{% extends base_template %}
{% block title %} Membership Payment {% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="alert alert-success" role="alert">
            Thank you, your payment information has been received. We will contact you soon.
        </div>

    <h3>We will deliver you your membership card once your payment information is verified. Your card looks like
            this:
        </h3>

        <img class="img-responsive" src="{{ request.user.get_sample_card }}"/>

    </div>
{% endblock %}