{% extends base_template %}
{% block title %} Membership Form {% endblock %}
{% load socialaccount %}
{% block extrahead %}
    <link href="{{ STATIC_URL }}css/auth.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    
    <h2>Complete the form to apply for MUSCN membership and devil card.</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% include 'users/_membership_form.html' with form=form object=object %}

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>

{% endblock %}