.thumbnail {
    height: 15em !important;
}

.album-image {
	float:left;
	height:25em; 
	width:20em; 
	margin:1em 1em;
}

.album-image a img {
	height:12em !important;
    width: 20em;
}

.modal {
	margin-top: 2em;
}

.modal-content {
    width: 86em;
    margin-left: -20em;
}

.modal-dialog .modal-content img {
	height: 45em;
    margin-left: .4em;
    width: 85em;
    margin-top: .4em;
    margin-bottom: .4em;
}

.caption {
	overflow: hidden;
	max-height: 10em;
}

#gallery-images {
	width: 65em;
}

.album-thumbnail {
	float:left; 
	height:25em;
	width:20em; 
	margin:1em 1em
}

.album-thumbnail img {
	height:12em !important;
    width: 20em;
}

.album-thumbnail .caption {
	overflow: hidden; 
	max-height: 10em;
}

.caption h3 {
    margin: 0;
}

.calendar-icon {
    margin-top: -25px;
}