{% extends "page_base.html" %}
{% load filters i18n %}
{% block title %}{% trans 'Contact Us' %}{% endblock %}

{% block breadcrumbs %}{% trans 'Contact Us' %}{% endblock %}

{% block extrahead %}
    {% if obj.location %}
        <style>
            #map_canvas {
                max-width: 95%;
                height: 400px;
            }
        </style>
    {% endif %}
{% endblock %}

{% block extrabody %}
    {% if obj.location %}
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
          function initialize() {
            var mapCanvas = document.getElementById('map_canvas');
            var mapOptions = {
              center: new google.maps.LatLng({{ obj.location }}),
              zoom: 12,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    {% endif %}
{% endblock %}

{% block content %}

    <h1 class="page-title">{% trans 'Contact Us' %}</h1>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}

    <!--Google Map-->
    <section class="map container">
        <div id="map_canvas"></div>
    </section><!--Google Map Close-->

    <div class="row">
        <!--Contact Info-->
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-5">
            <h3>Contact info</h3>
            <div class="contact-info">
                {% if obj.address %}
                    <div>{{ obj.address }}</div>
                {% endif %}
                {% if obj.email %}
                    <div>
                        E-mail:
                        {% for email in obj.email %}
                            <a href="mailto:{{ email }}">{{ email }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if obj.phone %}
                    <div>
                        Phone:
                        {% for phone in obj.phone %}
                            <a href="tel:{{ phone }}">{{ phone }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if obj.fax %}
                    <div>
                        Fax:
                        {% for fax in obj.fax %}
                            <a href="fax:{{ fax }}">{{ fax }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if obj.social_media %}
                    <h3>Social Media:</h3>

                    <div>
                        {% for medium in obj.social_media %}
                            <a href="{{ medium.url }}"> <i class="fa fa-{{ medium.fa }}"></i> {{ medium.site }}</a>
                            {% if not forloop.last %} | {% endif %}
                        {% endfor %}
                    </div>

                {% endif %}

            </div>
        </div>

        <div class="col-lg-5 col-md-7 col-sm-7">
            <h3>{% trans "Leave us a message." %}</h3>

            <form method="POST">
                {% csrf_token %}
                {% if not request.user.is_authenticated %}
                    <div class="row">
                        <div class="col-xs-6">
                            <p>
                                {{ form.name }}
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p>
                                {{ form.email }}
                            </p>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12">
                        <p>
                            {{ form.message }}
                        </p>
                    </div>
                </div>
                <input class="btn bg-primary full contact-submit theme-title-background" type="submit">
            </form>
        </div>
    </div>

{% endblock %}