{% load filters staticfiles %}
<div class="clearfix"></div>

<div class="partners d-lg-flex justify-content-lg-around p-2 px-0 text-lg-left text-center">
    {% get_partners as partners %}
    {% for partner in partners %}
        <div class="p-lg-2">
            <h6 class="mb-3 text-444 text-center text-uppercase font-weight-bold">{{ partner.partnership }}</h6>
            {% if partner.logo %}
                <a href="{{ partner.get_url }}" target="_blank">
                    <img src="{{ partner.logo.url }}" alt="{{ partner.name }}"
                         title="{{ partner.name }}"
                         height="150">
                </a>
            {% else %}
                <h3 class="mt-4 text-444">{{ partner }}</h3>
            {% endif %}
        </div>
    {% endfor %}
</div>

<footer class="container-fluid bg-brand py-2">

    <div class="row">
        <div class="col-md-5 separated text-md-left text-center">
            <a href="{% url 'view_page' 'privacy-policy' %}">Privacy Policy</a>
            <a href="{% url 'view_page' 'contact-us' %}">Contact Us</a>
        </div>

        <div class="col-md-2 text-center">
            <img src="{% static 'img/muscn_inverted.svg' %}" alt="MUSCN" title="Manchester United Supporters' Club - Nepal"
                 height="52"/>
        </div>

        <div class="col-md-5 text-md-right text-center">
            <a title="Facebook" class="social btn btn-facebook" href="https://www.facebook.com/muscnepal" target="_blank">
                <i class="fa fa-facebook"></i></a>
            <a title="Twitter" class="social btn btn-twitter" href="https://twitter.com/MUSCNP" target="_blank">
                <i class="fa fa-twitter"></i></a>
            <a title="Google" class="social btn btn-google" href="https://plus.google.com/+ManutdOrgNpl"
               target="_blank" rel="publisher"><i class="fa fa-google"></i></a>
            <a title="Instagram" class="social btn btn-instagram" href="https://www.instagram.com/muscnepal/"
               target="_blank" rel="publisher"><i class="fa fa-instagram"></i></a>
            <a title="Github" class="social btn btn-github" href="https://github.com/muscn/"
               target="_blank"><i class="fa fa-github"></i></a>
            <a title="Download Android App" class="social btn btn-android" href="https://play.google.com/store/apps/details?id=com.awecode.muscn"
               target="_blank"><i class="fa fa-android"></i></a>
        </div>
    </div>

    <div class="mt-4">
        <div class="float-left" title="She wore, she wore,
She wore a scarlet ribbon,
She wore a scarlet ribbon in the merry month of May

And when, I asked
Oh why she wore that ribbon,
She said it’s for United and they’re going to Wem-ber-ley,
Wem-ber-ley, Wem-ber-ley,
We’re the famous Man United
And we’re going to Wem-ber-ley">Copyleft MUSC Nepal - All Rights Reversed 2014-{% now 'Y' %}
        </div>

        <div class="float-right text-right">
            Made with <strong title="love">♥</strong> and <strong title="coffee">☕</strong> in Nepal.
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="text-center mt-4 font-italic">
        'MANCHESTER UNITED', 'MAN UNITED', 'MAN UTD' and 'MUFC' are registered trademarks of MU LTD.
    </div>

</footer>
