<footer>
    <div class="container">
        <div class="row">
            <div class="footer-links col-xs-12 col-sm-12 col-md-6 text-left about-pages">
                <a href="{% url 'view_page' 'privacy-policy' %}">Privacy Policy</a>
                <a href="{% url 'view_page' 'contact-us' %}">Contact Us</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 text-right social-links">
                Follow Us
                <a title="Twitter" class="smGlobalBtn twitterBtn" href="https://twitter.com/MUSCNP" target="_blank"></a>
                <a title="Facebook" class="smGlobalBtn facebookBtn" href="https://www.facebook.com/muscnepal" target="_blank"></a>
                <a title="Google" class="smGlobalBtn googleBtn" href="https://plus.google.com/u/0/107337299762605675178" target="_blank"></a>
            </div>
        </div>
        <div class="row text-center">
{#            'MANCHESTER UNITED', 'MAN UNITED', 'MAN UTD' and 'MUFC' are registered trademarks of MU LTD.#}
        </div>
        <div class="row text-center">
            COPYLEFT (ↄ) MUSCN - All Rights REVERSED 2015
        </div>

    </div>
</footer>