<footer>
    <div class="container">
        <div class="row">
            <div class="pull-left footer-links col-xs-12 col-sm-12 col-md-6">
                <a href="{% url 'view_page' 'privacy-policy' %}">Privacy Policy</a>
                <a href="{% url 'view_page' 'contact-us' %}">Contact Us</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 pull-right">
                Follow Us
                <a title="Twitter" class="social-button twitterBtn" href="https://twitter.com/MUSCNP"></a>
                <a title="Facebook" class="social-button facebookBtn" href="https://www.facebook.com/muscnepal"></a>
                <a title="Google" class="social-button googleBtn" href="https://plus.google.com/u/0/107337299762605675178"></a>
            </div>
        </div>
        <div class="row">
{#            'MANCHESTER UNITED', 'MAN UNITED', 'MAN UTD' and 'MUFC' are registered trademarks of MU LTD.#}
        </div>
        <div class="row">
            COPYLEFT (ↄ) MUSCN - All Rights REVERSED 2015
        </div>

    </div>
</footer>