{% load custom_tags staticfiles %}

<section class="bg-brand" itemscope itemtype="http://schema.org/WPHeader">
    <nav class="navbar navbar-expand-lg navbar-dark mb-lg-3 pb-0" itemscope itemtype="http://schema.org/SiteNavigationElement">

        <input type="checkbox" id="change-hamburger"/>
        <a class="hamburger" href="#">
            <span></span>
            <label for="change-hamburger"></label>
        </a>
        <a class="navbar-brand p-0" href="{% url 'home' %}">
            {#            <div class="logo"></div>#}
            <img height="80" class="logo" id="logo" src="/static/img/logo.svg" alt="MUSCN">
            <h3 class="d-sm-none d-inline"><strong>MUSCN</strong></h3>
            <h3 class="d-none d-lg-none d-sm-inline"><strong>MUSC Nepal</strong></h3>
            <h5 class="d-none d-lg-inline d-xl-none"><strong>Manchester United</strong> Supporters' Club
                Nepal</h5>
            <h3 class="d-none d-xl-inline"><strong>Manchester United</strong> Supporters' Club Nepal</h3>
        </a>

        <div class="menu navbar-collapse">
            {#            <div>#}
            <ul class="navbar-nav mr-lg-3">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false">MUSCN<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'football_team' %}">Football Team</a></li>
                        <li><a href="{% url 'list_members' %}">Members</a></li>
                        <li><a href="{% url 'view_page' 'privileges' %}">Membership Privileges</a></li>
                        <li><a href="{% url 'view_page' 'representatives' %}">Representatives</a></li>
                        <li><a href="{% url 'view_page' 'payment-methods' %}">Payment Methods</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'view_page' 'contact-us' %}">Contact Us</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'album-list' %}">Gallery</a></li>
                <li><a href="{% url 'list_posts' %}">Posts</a></li>
                <li><a href="{% url 'list_events' %}">Events</a></li>

                {% if request.user.is_authenticated %}
                    {% if request.user.status == 'Member' %}
                        <li class="text-uppercase font-weight-bold text-success" title="Verified Member">✓</li>
                    {% elif request.user.status == 'Expired' %}
                        <li class="text-uppercase font-weight-bold"><a href="{% url 'membership_form' %}">Renew</a>
                        </li>
                    {% elif request.user.status == 'Pending Approval' %}
                    {% else %}
                        <li class="text-uppercase font-weight-bold"><a href="{% url 'membership_form' %}">Become a member</a>
                        </li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{ user.full_name }}<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="{% url 'membership_form' %}">Edit Profile</a></li>
                            <li><a href="{% url 'view_member_profile'  user.username %}">View Profile</a></li>
                            <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                            <li><a href="{% url 'socialaccount_connections' %}">Social Accounts</a></li>
                            <li><a href="{% url 'logout' %}">Sign Out</a></li>
                        </ul>
                    </li>

                {% else %}
                    <li><a href="{% url 'account_login' %}" class="secondary small button">Sign In</a></li>
                    <li><a href="{% url 'account_signup' %}" class="secondary small button">Sign Up</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav mr-lg-3">
                <li class="united p-0"><img src="{% static 'img/united.png' %}" height="20" alt="United"/></li>
                <li><a href="{% url 'fixtures' %}">Fixtures</a></li>
                <li><a href="{% url 'results' %}">Results</a></li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Leagues<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="{% url 'epl_table' %}">EPL</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Stats<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="{% url 'scorers' %}">Top Scorers</a></li>
                        <li><a href="{% url 'list_squad' %}">Squad</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">History
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="{% url 'list_seasons' %}">Past Seasons</a></li>
                        <li><a href="{% url 'all-results' %}">Past Fixtures Results</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</section>
