{% load staticfiles %}
<header>
    {% block navbar %}

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid row">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header col-sm-4">

                    <div class="row">
                        <div class="pull-left brand-logo">
                            <a href="/"><img class="logo" id="logo" src="/static/img/logo.svg" alt=""></a>
                        </div>
                        <div class="brand-name">
                            <h1><a href="/">Manchester United <br/>Supporters' Club, Nepal</a></h1>
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#muscn-menu">
                                <span class="sr-only">Toggle Navigation</span>
                                {#                                <span>MUSCN</span>#}
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            {#                            <button type="button" class="navbar-toggle" data-toggle="collapse"#}
                            {#                                    data-target="#mufc-menu">#}
                            {#                                <span>&nbsp;MUFC&nbsp;&nbsp;</span>#}
                            {#                                <span class="icon-bar"></span>#}
                            {#                                <span class="icon-bar"></span>#}
                            {#                                <span class="icon-bar"></span>#}
                            {#                            </button>#}
                        </div>

                    </div>


                </div>

                <div class="menus col-sm-8">
                    <div class="collapse navbar-collapse" id="muscn-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'fixtures' %}">Fixtures</a></li>
                            <li><a href="{% url 'results' %}">Results</a></li>
                            <li><a href="{% url 'epl_table' %}">EPL Table</a></li>
                            <li><a href="{% url 'matchweek' %}">Matchweek</a></li>
                            <li><a href="{% url 'scorers' %}">Top Scorers</a></li>
                            <li><a href="/squad/">Squad</a></li>


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">History<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/seasons/">Past Seasons</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">MUSCN<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'football_team' %}">Football Team</a></li>
                                    <li><a href="{% url 'list_members' %}">Members</a></li>
                                    <li><a href="{% url 'view_page' 'privileges' %}">Membership Privileges</a></li>
                                    <li><a href="{% url 'view_page' 'representatives' %}">Representatives</a></li>
                                    <li><a href="/payment-methods/">Payment Methods</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'view_page' 'contact-us' %}">Contact Us</a></li>
                                </ul>
                            </li>
                            <li><a href="/post/">Posts</a></li>
                            <li><a href="/event/">Events</a></li>

                            {% if request.user.is_authenticated %}
                                {% if request.user.membership %}
                                    {% if request.user.is_member %}
                                        <li><a>✓</a></li>
                                    {% endif %}
                                {% else %}
                                    <li><a href="{% url 'membership_form' %}" class="secondary small button">Apply for
                                        Membership</a>
                                    </li>
                                {% endif %}
                                {% if request.user.membership and request.user.membership.has_expired %}
                                    <li><a href="{% url 'renew' %}">Renew</a></li>
                                {% endif %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false">{{ user }}<span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{% url 'view_member_profile'  user.username %}">View Profile</a></li>
                                        {#                                        <li><a href="{% url 'list_members' %}">Edit Profile</a></li>#}
                                        <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                                        <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                                        <li><a href="{% url 'membership_form' %}">Registration Information</a></li>
                                        <li><a href="{% url 'socialaccount_connections' %}">Social Accounts</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{% url 'logout' %}" class="secondary small button">Sign Out</a></li>
                                    </ul>
                                </li>

                            {% else %}
                                <li><a href="{% url 'account_login' %}" class="secondary small button">Sign In</a></li>
                                <li><a href="{% url 'account_signup' %}" class="secondary small button">Sign Up</a></li>
                            {% endif %}
                        </ul>
                    </div>

                    {#                    <div class="collapse navbar-collapse" id="mufc-menu">#}
                    {#                        <ul class="nav navbar-nav navbar-right">#}
                    {#                        </ul>#}
                    {#                    </div>#}

                </div>

            </div>
            <!-- /.container-fluid -->
        </nav>
    {% endblock %}
</header>