{% load staticfiles %}
<header>
    {% block navbar %}

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid row">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header col-sm-6">

                    <div class="row">
                        <div class="pull-left">
                            <a href="/"><img class="logo" id="logo" src="/static/img/logo.svg" alt=""></a>
                        </div>
                        <div class="brand-name">
                            <h1><a href="/">Manchester United <br/>Supporters' Club, Nepal</a></h1>
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#muscn-menu">
                                <span>MUSCN</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#mufc-menu">
                                <span>&nbsp;MUFC&nbsp;&nbsp;</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                    </div>


                </div>

                <div class="menus  col-sm-6">
                    <div class="collapse navbar-collapse" id="muscn-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/event/">Events</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">MUSCN <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/privileges/">Membership Privileges</a></li>
                                    <li><a href="/representatives/">Representatives</a></li>
                                    <li class="divider"></li>

                                    <li><a href="/contact-us/">Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">MUFC <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/squad/">Squad</a></li>
                                    <li><a href="/seasons/">Seasons</a></li>
                                </ul>
                            </li>
                            <li><a href="/logout/" class="secondary small button">Sign Out</a></li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse" id="mufc-menu">
                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">MUSCN <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/privileges/">Membership Privileges</a></li>
                                    <li><a href="/representatives/">Representatives</a></li>
                                    <li class="divider"></li>

                                    <li><a href="/contact-us/">Contact Us</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">MUFC <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="/squad/">Squad</a></li>
                                    <li><a href="/seasons/">Seasons</a></li>
                                </ul>
                            </li>
                            <li><a href="/logout/" class="secondary small button">Sign Out</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </nav>
    {% endblock %}
</header>