<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block whole_title %}
            {% block title %}{% endblock %} | Manchester United Supporters' Club Nepal
        {% endblock %}
    </title>
    <link rel="canonical" href="http://manutd.org.np"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Manchester United Supporters' Club Nepal"/>
    <meta property="og:description"
          content="Welcome to the official website of Manchester United Supporters' Club - Nepal"/>
    <meta property="og:url" content="http://manutd.org.np"/>
    <meta property="og:site_name" content="Manchester United Supporters' Club Nepal"/>
    <meta property="fb:admins" content="1627112045"/>
    <meta property="og:image" content="http://manutd.org.np{% static "img/logo.png" %}"/>


    <meta name="description" content="Welcome to the official website of Manchester United Supporters' Club - Nepal">
    <meta name="keywords"
          content="MUSCN, Manchester United Nepal, Manchester United Fans Nepal, Manchester United Supporters' Club Nepal, Man Utd Nepal, MUFC Nepal">

    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{% block favicon_url %}{% static 'img/favicon.ico' %}{% endblock %}"/>

    {% block bootstrap_styles %}
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
        <link href="{% static "css/bootstrap-flat.min.css" %}" rel="stylesheet" type="text/css">
        {#        <link href="{% static "css/bootstrap-flat-extras.min.css" %}" rel="stylesheet" type="text/css">#}
    {% endblock %}
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css">
    {% block extrahead %}{% endblock %}
</head>
<body>
<div id="container" class="content">

    {% include '_header.html' %}
    <div class="{% block container-class %}container{% endblock %} main-container">
        {% block content %}
        {% endblock %}
    </div>

    <div id="push"></div>
</div>

{% include '_footer.html' %}

<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/base.js" %}"></script>
{% block extrabody %}
{% endblock %}

</body>
</html>
