<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block whole_title %}
            {% block title %}{% endblock %} | Manchester United Supporters' Club Nepal
        {% endblock %}
    </title>
    <link rel="canonical" href="https://manutd.org.np"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Manchester United Supporters' Club Nepal"/>
    <meta property="og:description"
          content="Welcome to the official website of Manchester United Supporters' Club - Nepal"/>
    <meta property="og:url" content="https://manutd.org.np"/>
    <meta property="og:site_name" content="Manchester United Supporters' Club Nepal"/>
    <meta property="fb:admins" content="1627112045"/>
    <meta property="og:image" content="https://manutd.org.np{% static "img/logo.png" %}"/>


    <meta name="description" content="Welcome to the official website of Manchester United Supporters' Club - Nepal">
    <meta name="keywords"
          content="MUSCN, Manchester United Nepal, Manchester United Fans Nepal, Manchester United Supporters' Club Nepal, Man Utd Nepal, MUFC Nepal">

    {% block meta %}
    {% endblock %}


    <link rel="icon" type="image/png" href="{% block favicon_url %}{% static 'img/favicon.ico' %}{% endblock %}"/>

    {% block css %}
        <link href="{% static 'dist/css/landing.css' %}" rel="stylesheet">
    {% endblock %}


    {% block extrahead %}{% endblock %}
</head>
<body>


{% include '_header.html' %}
{% include '_messages.html' %}
<div class="container-fluid restrict {% block content_class %}content{% endblock %}">
    {% block content %}
    {% endblock %}
</div>


{% include '_footer.html' %}

{% block js %}
    <script src="{% static 'dist/js/common.js' %}"></script>
    <script src="{% static 'dist/js/app.js' %}"></script>
{% endblock %}

{% block extra_js %}
{% endblock %}
{% block extrabody %}
{% endblock %}

</body>
</html>
