{% extends 'base.html' %}
{% load i18n %}

{% block whole_title %}
    Manchester United Supporters' Club, Nepal
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section featured row">
            <img class="img-responsive"
                 src="http://placehold.it/1600x500">
        </div>
        <div class="section stats row">
            <div class="col-md-3">
                <div class="stats-block next-match">
                    <h2>NEXT MATCH</h2>

                    <div class="fixture text-center">
                        <div class="match">Man United vs. Arsenal</div>
                        <div class="venue">Old Trafford</div>
                        <div class="competition">FA Cup - Quarterfinal</div>
                    </div>
                    <br>
                    <div class="row text-center">
                        <div class="datetime col-xs-6">
                            <span class="date">10<sup>th</sup></span>

                            <div class="month">March</div>
                            <div class="time">19:45 GMT</div>
                            <div class="time">01:30 NPT</div>
                        </div>
                        <div class="opponent-crest col-xs-6">
                            <img class="img-responsive"
                                 src="https://upload.wikimedia.org/wikipedia/en/thumb/5/53/Arsenal_FC.svg/200px-Arsenal_FC.svg.png">
                        </div>
                    </div>
                    <br/>
                    <div class="countdown row text-center">
                        <div class="text col-xs-5">Time until<br/>next match</div>
                        <div class="timer col-xs-7 row">
                            <span class="days col-xs-4">44</span>
                            <span class="days col-xs-4">22</span>
                            <span class="days col-xs-4">27</span>
                        </div>
                    </div>
                    <div class="countdown-footer row text-center">
                        <div class="text col-xs-5"></div>
                        <div class="timer col-xs-7 row">
                            <span class="days col-xs-4 text-center">days</span>
                            <span class="days col-xs-4">hours</span>
                            <span class="days col-xs-4">mins</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-block">
                    <h2>RECENT RESULTS</h2>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-block">
                    <h2>LEAGUE TABLE</h2>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-block">
                    <h2>LEAGUE TABLE</h2>
                </div>
            </div>


        </div>
    </div>

{% endblock %}