{% extends 'base.html' %}
{% load i18n %}

{% block whole_title %}
    Manchester United Supporters' Club, Nepal
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section featured row">
            <img class="img-responsive"
                 src="http://lorempixel.com/1600/500">
        </div>
        <div class="section stats row">
            <div class="col-md-3">
                <div class="stats-block next-match">
                    <h2>NEXT MATCH</h2>

                    <div class="fixture">Man United vs. Arsenal</div>
                    <div class="venue">Old Trafford</div>
                    <div class="competition">FA Cup - Quarterfinal</div>
                    <div class="datetime">
                        <div class="date">9<sup>th</sup></div>
                        <div class="month-time">March, 19:45 GMT</div>
                    </div>
                    <div class="crest">
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/53/Arsenal_FC.svg/200px-Arsenal_FC.svg.png">
                    </div>
                    <div class="countdown row">
                        <div class="text">Time until next match</div>
                        <div class="timer">
                            <span class="days">44</span>
                            <span class="days">22</span>
                            <span class="days">27</span>
                        </div>
                    </div>
                    <div class="countdown-footer row">
                        <span class=""></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-block">
                    <h2>RECENT RESULTS</h2>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-block">
                    <h2>LEAGUE TABLE</h2>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-block">
                    <h2>LEAGUE TABLE</h2>
                </div>
            </div>


        </div>
    </div>

{% endblock %}