{% extends 'base.html' %}
{% load i18n %}

{% block whole_title %}
    Manchester United Supporters' Club, Nepal
{% endblock %}

{% block content %}
    <div class="container">
        <div class="section featured row">
            <img class="img-responsive"
                 src="http://placehold.it/1600x500">
        </div>
        <div class="section stats row">
            <div class="col-md-3">
                <div class="stats-block next-match">
                    <h2>NEXT MATCH</h2>
                    {% if next_match %}
                        <div class="fixture text-center">
                            <div class="match"><h4><b>{{ next_match.title }}</b></h4></div>
                            <span class="venue">{{ next_match.get_venue }}</span> |
                            <span class="competition">
                                {{ next_match.competition_year.competition }}
                                {% if next_match.round %}
                                    - {{ next_match.round }}
                                {% endif %}
                            </span>
                        <div class="channel">Live on {{ next_match.broadcast_on }}</div>
                        </div>
                        <br>

                        <div class="row text-center">
                            <div class="datetime col-xs-6">
                                <span class="date">{{ next_match.npt.day }}</span>

                                <div class="month">{{ next_match.npt|date:'F' }}</div>
                                <div class="time">{{ next_match.npt|date:'P' }} NPT</div>

                            </div>
                            <div class="opponent-crest col-xs-6">
                                <img class="img-responsive"
                                     src="{{ next_match.opponent.crest.url }}">
                            </div>
                        </div>
                        {#                [<div class="time">{{ next_match.datetime }} GMT</div>]#}
                        <br/>

                        <div class="countdown row text-center">
                            <div class="text col-xs-5">Time until<br/>next match</div>
                            <div class="timer col-xs-7 row">
                                <span class="days col-xs-4">{{ next_match.time_remaining.0 }}</span>
                                <span class="days col-xs-4">{{ next_match.time_remaining.1 }}</span>
                                <span class="days col-xs-4">{{ next_match.time_remaining.2 }}</span>
                            </div>
                        </div>
                        <div class="countdown-footer row text-center">
                            <div class="text col-xs-5"></div>
                            <div class="timer col-xs-7 row">
                                <span class="days col-xs-4 text-center">days</span>
                                <span class="days col-xs-4">hours</span>
                                <span class="days col-xs-4">mins</span>
                            </div>
                        </div>
                        {% else %}
                        <h3 class="text-center">No upcoming <br>matches this <br>season!</h3>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-block">
                    <h2>RECENT RESULTS</h2>
                    {{ next_match }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-block">
                    <h2>LEAGUE TABLE</h2>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stats-block">
                    <h2>LEAGUE TABLE</h2>
                </div>
            </div>


        </div>
    </div>

{% endblock %}