{% extends 'base.html' %}
{% load filters %}
{% load staticfiles %}

{% block title %} MUSCN Football Team {% endblock %}

{% block extrahead %}
{% endblock %}

{% block content %}

    <h1>MUSCN Football Team</h1>

    <h2>Players</h2>
    {% for player in players %}
        <div class="card d-inline-block p-2">
            <div class="photo">
                <img src="{{ player.image.thumbnail.300x300 }}" alt="{{ player.name }}">
            </div>
            <div class="font-weight-bold text-center text-uppercase">
                {{ player.user.full_name }}
                {% if player.remarks %}
                    {{ player.remarks }}
                {% endif %}
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <th>Address</th>
                    <td>{{ player.user.membership.temporary_address }}</td>
                </tr>
                <tr>
                    <th>Position</th>
                    <td>{{ player.positions }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}

    <br style="clear: both"/><br/>

    <h2>Staff</h2>
    {% for staff in staffs %}
        <div class="person-block">
            <div class="photo">
                <img src="{{ staff.image.thumbnail.300x300 }}" alt="{{ staff.name }}">
            </div>
            <div class="name text-center">{{ staff.user.full_name }}</div>
            <table class="table">
                <tr>
                    <th>Address</th>
                    <td>{{ staff.user.membership.temporary_address }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{ staff.role }}</td>
                </tr>
            </table>
        </div>
    {% endfor %}

{% endblock %}