Django
psycopg2
django-allauth
Pillow
django-redis-cache
django-mptt
django-froala-editor
-e git+https://github.com/helber/django-dbsettings.git@master#egg=django-dbsettings
linaro-django-pagination
webstack-django-sorting
django-auditlog
jsonfield
lxml
django-smuggler
ics
wikipedia
sorl-thumbnail
pytz
-e git+https://github.com/awecode/njango.git@master#egg=njango
cssselect
facebook-sdk
opbeat
easy-thumbnails