$fa-font-path: "../../node_modules/font-awesome/fonts";
@import '../../node_modules/font-awesome/scss/font-awesome';
@import "_menu";

a {
  color: $brand;
  &:hover {
    color: darken($brand, 25) !important;
    text-decoration: none;
  }

}

.bg-brand {
  background: $brand;
  color: #fff;
  a, h1, h2, h3, h4, h5, h6 {
    color: #fff !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $brand;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url('/static/img/bg1.jpg') repeat fixed;
  color: #333333;
  margin-bottom: $footer-height;
  font-size: 0.9rem;
}

footer {
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;

  .social {
    width: 3rem;
    font-size: 2rem;
    background: #fff !important;
    text-align: center;
  }
}

.partners {
  background: rgba(#fff, .7);
  img {
    max-height: 100px;
  }
}

.separated {
  a:not(:last-child) {
    border-right: 1px solid #fff;
    padding-right: 0.5rem;
  }
  a:not(:first-child) {
    padding-left: 0.5rem;
  }
}

.content {
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  max-width: 1580px;
  background: rgba(#fff, 0.95);
}

.errorlist {
  color: $red;
}

img {
  max-width: 100%;
}

.pad-cols .col-sm {
  margin: 0 0.5rem;
}

.brand {
  color: $brand;
}

.large {
  font-size: 2.5rem;
}

@media (max-width: 735px) {
  .content {
    margin: 0;
    padding: 0;
  }
  .pad-cols .col-sm {
    //margin: 0;
  }
  .pad-cols {
    margin-right: 0;
  }
  .block {
    flex-basis: 100% !important;
  }
}

.text-444 {
  color: #444;
}

$facebook: #3b5998;
$twitter: #1da1f2;
$google: #ea4335;
//$instagram: #c13584;
$github: #333;

// Social buttons styling
.social.btn {
  margin-top: 0.1rem;
  background: $brand;
  color: #fff;
  padding: 0 0.5rem 0 0;
  &:hover {
    color: #fff !important;
    opacity: 0.7;
  }
  i.fa {
    width: 2rem;
    padding: 0.5rem;
    color: $brand;
    background: #fff;
    margin-right: 0.3rem;
  }
  &.btn-facebook {
    background: $facebook;
    i.fa {
      color: $facebook;
    }
  }
  &.btn-google {
    background: $google;
    i.fa {
      color: $google;
    }
  }
  &.btn-twitter {
    background: $twitter;
    i.fa {
      color: $twitter;
    }
  }
  &.btn-github {
    //background: $twitter;
    i.fa {
      color: $github;
    }
  }
}