@import "_menu";

a {
  color: $brand;
  &:hover {
    color: darken($brand, 25) !important;
    text-decoration: none;
  }

}

.bg-brand {
  background: $brand;
  color: #fff;
  a, h1, h2, h3, h4, h5, h6 {
    color: #fff !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $brand;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: url('/static/img/bg1.jpg') repeat fixed;
  color: #333333;
  margin-bottom: $footer-height;
  font-size: 0.9rem;
}

footer {
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
}

.footer {
  background: linear-gradient(135deg, #792c20 0%, #68190e 100%);
  .text-muted {
    font-style: italic;
  }
}

.partners {
  background: rgba(#fff, .7);
}

.separated {
  a:not(:last-child) {
    border-right: 1px solid #fff;
    padding-right: 0.5rem;
  }
  a:not(:first-child) {
    padding-left: 0.5rem;
  }
}

.content {
  padding: 1rem;
  margin-bottom: 1rem;
  max-width: 1580px;
  background: rgba(#fff, 0.95);
}

.errorlist {
  color: $red;
}

img {
  max-width: 100%;
}

.pad-cols .col-sm {
  margin: 0 0.5rem;
}

.brand {
  color: $brand;
}

.large {
  font-size: 2.5rem;
}