.datetime .date {
  font-size: 3rem;
  line-height: 2rem;
}

.countdown {
  line-height: 2rem;
}

.live-screening {
  min-height: 58px;
  img {
    max-width: 200px;
    height: 58px;
  }
}

.featured {
  flex-basis: 500px;
  padding: 0 !important;
}

@media (min-width: 700px) {
  .featured img {
    height: 100% !important;
  }
}

.next-match {
  flex-basis: 400px;
}

.register {
  flex-basis: 320px;
}

.featured h4 {
  position: absolute;
  bottom: 2rem;
  left: 0.5rem;
  width: 100%;
}

.featured span {
  color: white;
  letter-spacing: -1px;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.2rem 0.5rem;
}

.block {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 20px -4px #CCC;
  border-top: 0.5em solid #e54d36;
  padding: 20px 25px 25px;
  overflow: hidden;
  max-height: 32rem;
  max-width: 480px;
}

.stats {
  flex-basis: 325px;
}

.link-row {
  a {
    border-bottom: 1px solid #ccc;
    margin: 1rem 0;
    display: block;
  }
}

.result0 {
  color: $yellow;
}

.result1 {
  color: $green;
}

.result-1 {
  color: $red;
}

.highlight {
  font-weight: bold;
}

.link-cell a {
  color: inherit !important;
}

tr.pb-1 td {
  padding-bottom: 0.7rem;
}

.channel {
  min-height: 1.5em;
}