.datetime .date {
  font-size: 4rem;
  line-height: 3rem;
}

.countdown {
  line-height: 2rem;
}

.live-screening {
  //min-height: 58px;
  img {
    max-width: 200px;
    height: 58px;
  }
}

.featured {
  flex-basis: 500px;
  padding: 0 !important;
}

@media (min-width: 700px) {
  .featured img {
    height: 100% !important;
  }
}

.next-match {
  flex-basis: 400px;
}

.register {
  flex-basis: 320px;
}

.featured h4 {
  position: absolute;
  bottom: 2rem;
  left: 0.5rem;
  width: 100%;
}

.featured span {
  color: white;
  letter-spacing: -1px;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.2rem 0.5rem;
}

.block {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 20px -4px #CCC;
  border-top: 0.5em solid #e54d36;
  padding: 20px 25px 25px;
  overflow: hidden;
  max-height: 32rem;
  max-width: 480px;
}

.stats {
  flex-basis: 325px;
}

.link-row {
  a {
    border-bottom: 1px solid #ccc;
    margin: 1rem 0;
    display: block;
  }
}

.result {
  min-height: 0.7rem;
  min-width: 0.7rem;
  display: inline-block;
  margin-right: 0.3rem;
  &.draw {
    background: $yellow;
  }
  &.win {
    background: $green;
  }
  &.loss {
    background: $red;
  }
}

.highlight {
  font-weight: bold;
}

.link-cell a {
  color: inherit !important;
}

tr.pb-1 td {
  padding-bottom: 0.7rem;
}

.channel {
  min-height: 1.5em;
}

// Blockquote

.section.quote-block {
  text-align: center;
  padding: 1em;
}

.quote {
  background: #f9f9f9;
  border-left: 10px solid $brand;
  margin: 1.5em 10px;
  padding: 1rem;
  font-weight: bold;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

.quote-block .by {
  text-align: right;
}

#reddit-block img {
  max-width: 50px;
}

#news-block {
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    padding-bottom: 0.5rem;
  }
}

.content.landing {
  background: rgba(255, 255, 255, 0.8);
}