{% extends 'dashboard_base.html' %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}

{% block title %} Injuries {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_injuries' %}"><i class="fa fa-medkit"></i>Injuries</a>
{% endblock %}

{% block content %}

    {% autosort object_list as sorted_objects %}
    {% autopaginate sorted_objects 20 as paginated_objects %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <th>{% anchor player 'Player' %}</th>
            <th>{% anchor type 'Injury' %}</th>
            <th>{% anchor type 'Description' %}</th>
            <th>{% anchor injury_date 'Injury Date' %}</th>
            <th>{% anchor return_date 'Return Date' %}</th>
            </thead>
            <tbody>
            {% for item in paginated_objects %}
                <tr>
                    <td>
                        <a href="{% url 'update_injury' item.id %}">
                            {{ item.player }}
                        </a>
                    </td>
                    <td>
                        {{ item.type }}
                    </td>
                    <td>
                        {{ item.remarks }}
                    </td>
                    <td>
                        {{ item.injury_date }}
                    </td>
                    <td>
                        {{ item.return_date }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% paginate %}

    <div class="pull-right">
        <a class="btn btn-success" href="{% url 'create_injury' %}">Add New Injury</a>
    </div>

{% endblock %}