{% extends 'base.html' %}
{% load filters %}
{% load staticfiles %}

{% block title %} EPL Matchweek {% endblock %}

{% block content %}


    <h1>EPL Matchweek</h1>
    {% if standings.matches %}
        {% for match_date, matches in standings.matches.items %}

            <h2>{{ match_date }}</h2>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for match in matches %}
                    <tr>
                        <td width="15%">
                            {{ match.minute }}
                            {% if match.live %}
                                <i class="result1"></i>
                            {% endif %}
                        </td>
                        <td width="35%">{{ match.home_team }}</td>
                        <td width="15%">{{ match.score }}</td>
                        <td width="35%">{{ match.away_team }}</td>
                    </tr>
                {% endfor %}
                </tbody>

                </tr>
            </table>

        {% endfor %}

        <div class="alert alert-info">
            Updated every five minutes.
        </div>

    {% else %}
        <div class="alert alert-info">
            Matchweek data not available. Check during match days.
        </div>
    {% endif %}

{% endblock %}

