{% extends 'dashboard_base.html' %}
{% load filters %}

{% block title %} {{ scenario }} Quote {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'list_quotes' %}"><i class="fa fa-money"></i>Quotes</a>
    <span>{{ scenario }} {{ object }}</span>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <form method="POST" role="form">

                {% csrf_token %}

                <div class="form-group">
                    {{ form.text.label_tag }}
                    {{ form.text }}
                    {{ form.text.errors }}
                </div>

                <div class="form-group date-time">
                    {{ form.by.label_tag }}
                    {{ form.by }}
                    {{ form.by.errors }}
                </div>

                <div class="form-group">
                    {{ form.enabled.label_tag }}
                    {{ form.enabled }}
                    {{ form.enabled.errors }}
                </div>

                <input type="submit" class="btn btn-info" value="Save">

            </form>

            <div class="pull-right actions">
                {% include 'partials/delete_button.html' with object=object url='delete_bank_account' %}
            </div>
        </div>


    </div>

{% endblock %}