{% extends 'dashboard_base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="dashboard-icons">

        <div class="tile flip-container" ontouchstart="this.classList.toggle('hover');">
            <i class="fa fa-money"></i>

            <div class="flip-body">
                <h2>Payment</h2>
                <a href="{% url 'list_bank_accounts' %}">Bank Accounts</a>
                <a href="{% url 'list_payments' %}">Payments</a>
            </div>
        </div>

        <a class="tile orange" href="{% url 'list_payments' %}">
            <i class="fa fa-users"></i>

            <h2>Membership</h2>
        </a>

        <a class="tile purple" href="{% url 'list_payments' %}">
            <i class="fa fa-share-alt"></i>

            <h2>Social Media</h2>
        </a>

        <a class="tile green" href="{% url 'list_payments' %}">
            <i class="fa fa-futbol-o"></i>

            <h2>Stats</h2>
        </a>
    </div>

{% endblock %}