{% extends 'dashboard_base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="dashboard-icons">

        <div class="tile flip-container" ontouchstart="this.classList.toggle('hover');">
            <i class="fa fa-money"></i>

            <div class="flip-body">
                <h2>Payment</h2>
                <a href="{% url 'list_bank_accounts' %}">Bank Accounts</a>
                <a href="{% url 'list_payments' %}">All Payments</a>
                <a href="{% url 'list_bank_deposits' %}">Bank Deposits</a>
                <a href="{% url 'list_direct_payments' %}">Direct Payments</a>
            </div>
        </div>

        <div class="tile flip-container" ontouchstart="this.classList.toggle('hover');">
            <i class="fa fa-users"></i>

            <div class="flip-body">
                <h2>Users</h2>
                <a href="{% url 'list_users' %}">Users</a>
                <a href="{% url 'list_memberships' %}">Memberships</a>
                <a href="{% url 'new_membership' %}">New User/Membership</a>
                <a href="{% url 'list_staffs' %}">Staffs</a>
            </div>
        </div>

        <a class="tile" href="{% url 'audit_log' %}">
            <i class="fa fa-history"></i>

            <h2>Audit Log</h2>
        </a>

        <a class="tile purple" href="{% url 'list_payments' %}">
            <i class="fa fa-share-alt"></i>

            <h2>Social Media</h2>
        </a>

        <div class="tile flip-container" ontouchstart="this.classList.toggle('hover');">
            <i class="fa fa-futbol-o"></i>

            <div class="flip-body">
                <h2>Data</h2>
                <a href="">Squad</a>
                <a href="{% url 'list_injuries' %}">Injuries</a>
                <a href="">Fixtures</a>
                <a href="">Quotes</a>
            </div>
        </div>

        <div class="tile flip-container" ontouchstart="this.classList.toggle('hover');">
            <i class="fa fa-cloud-download"></i>

            <div class="flip-body">
                <h2>Scrape</h2>
                <a href="">Seasons Summary</a>
                <a href="">FA Cup</a>
                <a href="">EPL</a>
                {#                <a href="">Quotes</a>#}
            </div>
        </div>

    </div>

{% endblock %}