<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block whole_title %}
            {% block title %}{% endblock %} | MUSCN Dashboard
        {% endblock %}
    </title>

    <link rel="icon" type="image/png" href="{% block favicon_url %}{% static 'img/favicon.ico' %}{% endblock %}"/>

    {% block css %}
        <link href="{% static 'dist/css/landing.css' %}" rel="stylesheet">
        <link href="{% static 'dist/css/dashboard.css' %}" rel="stylesheet">
    {% endblock %}

    {% block extrahead %}{% endblock %}
</head>
<body>
<div id="container">

    {% block navbar %}
        <div class="justify-content-around row navbar">
            <div class="col">
                <a class="navbar-brand" href="{% url 'dashboard_index' %}">
                    {# <img class="logo" height="50" src="{% static "img/logo.svg" %}" alt="">#}
                    MUSCN Dashboard</a>
            </div>
            <div class="col">
                <ul class="nav navbar-nav text-right">
                    <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>
                        Homepage</a>
                    </li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>
                        Sign Out</a></li>
                </ul>
            </div>
        </div>

    {% endblock %}

    <nav class="breadcrumb">
        <a title="Home is where the heart is." href="{% url 'dashboard_index' %}" class="breadcrumb-item">
            <i class="fa fa-home mr-1"></i>Home</a>
        {% block breadcrumbs %}
        {% endblock %}
    </nav>

    <div class="container-fluid">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>

    <div class="container-fluid dashboard-content">
        {% block content %}
        {% endblock %}
    </div>
</div>

<script src="{% static 'dist/js/common.js' %}"></script>
<script src="{% static 'dist/js/dashboard.js' %}"></script>
{% block extra_body %}
{% endblock %}

</body>
</html>